

th.item {
    width: 20%;
  }


  label{
    margin-top: 32px;
    margin-bottom: 3px;
    margin-left: 0px;
    font-size: 13px;
    color: #444444;
    /* color: #0b0b0b; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: normal; */


}
.form-control{
    /* border-color: #b2b2b2; */
    border-color: #a6a6a6;
    border-radius: 3px;
    height: 40px;
    /* background-color: #e9e9e9; */
    color: #2a2a2a;
}


#prodescriptiondetailmodal textarea,input{
  cursor: default !important;
  background-color: #fff;
}

#prodescriptiondetailmodal .form-control{
  /* border-color: #b2b2b2; */
  border-color: #aeaeae;
  border-radius: 0px;
  height: 40px;
  background-color: #f4f4f4;
  cursor: default !important;
  color:#2a2a2a;;
}

/* now written in index.html */
.tox-tinymce{
  border-radius: 0px !important;
}


/* increase the size of td to edit duties and responsibilities in proteam */
::ng-deep #dt.dt_pro_description>tbody>tr>td, #jquerydatatable.table>tbody>tr>td{
  white-space:wrap !important;
  padding-top: 8px !important;
  padding-bottom: 10px !important;
}