<!-- <p>report-home works!</p> -->

<h3 style="font-weight: bold; margin-bottom: 0px;margin-left: 14px;border-bottom: 1px solid grey; ">Reports</h3>

<div class="row" style=" margin-left: 0px;margin-right: 0px;">
    <div class="col-md-2" style="margin-top: 30px;">
        <span style="font-size: 15px;font-weight: 550; text-decoration: underline;">Employee Related</span>

        <!-- <li *ngIf="isRoleAdmin"> -->
        <li style="margin-top: 5px;">
            <!-- <a routerLink="ReportResume"> -->
              <a (click)="setReportName('TestReport(resume)','Report - Resume')" style="cursor: pointer;">
              Report Resume</a>
          </li>
          <!-- <li>
              <a (click)="setReportName('TestReport(resume)','Report - Resume')" style="cursor: pointer;">
              Report Resume</a>
          </li> -->
          <li style="margin-top: 5px;">
            <!-- <a routerLink="ReportResume"> -->
              <a (click)="setReportName('TestReport(resume)','Report - Resume')" style="cursor: pointer;">
              Other Employee Related 1</a>
          </li>
          <li style="margin-top: 5px;">
            <!-- <a routerLink="ReportResume"> -->
              <a (click)="setReportName('TestReport(resume)','Report - Resume')" style="cursor: pointer;">
                Other Employee Related 2</a>
          </li>
    </div>



    <div class="col-md-2" style="margin-top: 30px;">
        <span style="font-size: 15px;font-weight: 550; text-decoration: underline;">Project Related</span>

        <li style="margin-top: 5px;">
            <a (click)="setReportName('TestReport(PDS)','Report - PDS')" style="cursor: pointer;">
                Project Data Sheet</a>
        </li>
        <!-- <li>
            <a (click)="setReportName('TestReport(PDS)','Report - PDS')" style="cursor: pointer;">
                Project Data Sheet</a>
        </li> -->
        <li style="margin-top: 5px;">
            <a (click)="setReportName('TestReport(PDS)','Report - PDS')" style="cursor: pointer;">
                Other Project Report 1</a>
        </li>
        <li style="margin-top: 5px;">
            <a (click)="setReportName('TestReport(PDS)','Report - PDS')" style="cursor: pointer;">
                Other Project Report 2</a>
        </li>
    </div>


    <!-- <div class="col-md-2" style="margin-top: 30px;">
        <span style="font-size: 15px;font-weight: 550; text-decoration: underline;">Other Common List</span>

        <li style="margin-top: 5px;">
            <a (click)="setReportName('TestReport(PDS)','Report - PDS')" style="cursor: pointer;">
                Project Data Sheet</a>
        </li>
        <li>
            <a (click)="setReportName('TestReport(PDS)','Report - PDS')" style="cursor: pointer;">
                Project Data Sheet</a>
        </li>
    </div> -->


</div>