<!-- <p>list-items-home works!</p> -->
<h3 style="font-weight: bold; margin-bottom: 0px;margin-left: 14px;border-bottom: 1px solid grey; ">List Items</h3>

<!-- <p>You are loged in.</p> -->
<div class="row" style=" margin-left: 0px;margin-right: 0px;">
    <div class="col-md-2" style="margin-top: 30px;">
        <span style="font-size: 15px;font-weight: 550; text-decoration: underline;">Employee Related</span>
        <li style="margin-top: 5px;">
            <!-- <a href="#">Employee Jobitle</a> -->
            <!-- <a routerLink="AngularDatatable">AngularDatatable</a> -->
            <!-- <a routerLink="EmpJobitle">Emp Jobitle</a> -->
            <a routerLink="/ListItems" (click)="setListTableName('list_empjobtitle', 'List Employee Jobtitle')">Emp
                Jobitle</a>

        </li>
        <li>
            <!-- <a href="#">Employee Registration</a> -->
            <!-- <a routerLink="JqueryDatatable">JqueryDatatable</a> -->
            <!-- <a routerLink="EmpRegistration">Emp Registration</a> -->
            <a routerLink="/ListItems"
                (click)="setListTableName('list_empregistration', 'List Employee Registration')">Emp Registration</a>
        </li>
        <li>

            <a routerLink="/ListItems"
                (click)="setListTableName('list_empexpitem', 'List Employee Experience Item')">Emp Experience Item</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_department', 'List Employee Department')">Emp
                Department</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_empmembership', 'List Employee Membership')">Emp
                Membership</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_empprefix', 'List Employee Prefix')">Emp
                Prefix</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_empprojectrole', 'List Employee Project Role')">Emp Project Role</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_empstatus', 'List Employee Status')">Emp
                Status</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_empsuffix', 'List Employee Suffix')">Emp
                Suffix</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_emptraining', 'List Employee Training')">Emp
                Training</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_empdegree', 'List Employee Degree')">Emp
                Degree</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_disciplinesf254', 'List Employee Discipline SF254')">Emp Discipline
                SF254</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_disciplinesf330', 'List Employee Discipline SF330')">Emp Discipline
                SF330</a>
        </li>
    </div>
    <div class="col-md-2" style="margin-top: 30px;">
        <span style="font-size: 15px;font-weight: 550; text-decoration: underline;">Project Related</span>
        <li style="margin-top: 5px;">
            <a routerLink="/ListItems"
                (click)="setListTableName('list_prodesitem', 'List Project Description Item')">Pro Project Description
                Item</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_profilecodesf254', 'List Project Profilecode SF254')">Pro Profilecode
                SF254</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_profilecodesf330', 'List Project Profilecode SF330')">Pro Profilecode
                SF330</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_projectawardstatus', 'List Project Award Status')">Pro Project Award
                Status</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_projecttype', 'List Project Type')">Pro Project
                Type</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_proocategory', 'List Project Owner Category')">Pro Owner Category</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_proprole', 'List Project Proprole')">Pro
                Proprole</a>
        </li>
        <li>
            <a routerLink="/ListItems" (click)="setListTableName('list_prostatus', 'List Project Status')">Pro
                Status</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_proposalclientremarks', 'List Proposal Client Remarks')">Proposal Client
                Remarks</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_proposalstatus', 'List Proposal Status')">Proposal Status</a>
        </li>



        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_comocategory', 'List Company Office Category')">Com Office Category</a>
        </li>
        <li>
            <a routerLink="/ListItems"
                (click)="setListTableName('list_comtownership', 'List Company Type of Ownership')">Com Type of
                Ownership</a>
        </li>
        <li>

            <a routerLink="/ListItems"
                (click)="setListTableName('list_knowledgebasegroup', 'List Knowledgebase Group')">Knowledgebase
                Group</a>
        </li>

    </div>


        <div class="col-md-2" style="margin-top: 30px;">
            <span style="font-size: 15px;font-weight: 550; text-decoration: underline;">Other Common List</span>

            <li style="margin-top: 5px;">
                <a routerLink="/ListItems" (click)="setListTableName('list_country', 'List Country')">List Country</a>
            </li>
            <li>
                <a routerLink="/ListItems" (click)="setListTableName('list_state', 'List State')">List State</a>
            </li>




        </div>

    </div>