<!-- <p>project-edit-modal works!</p> -->




<!-- Edit Modal -->
<!-- ====================================================================================================== -->
<div class="modal fade" id="proeditmodal" tabindex="-1" role="dialog" aria-labelledby="proeditmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content" style="padding:45px;padding-top:20px;padding-bottom: 5px;background-color: #dfdfdf;">
            <div class="modal-header" style="padding-bottom: 0px;">
                <button (click)="clearFormErrors()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="proeditmodalLabel" style="font-weight: bold;font-size: 28px;">Project</h5>

            </div>
            <!-- <hr style=" margin-left: 15px;margin-right: 15px;"> -->
            <!-- LOADING IMAGE DIV  -->
            <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                    background-color: transparent;
                                    opacity:1;
                                    position: absolute;
                                    z-index: 2;
                                    margin-left: 0%;
                                    margin-right: 0%;
                                    margin-top: 0%;
                                    margin-bottom: 0%;
                                    height: 84.5%;
                                    padding-top: 60px;">
                <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
                    src="/assets/images/loading.gif" />
            </div> -->

            <div *ngIf="loading2" class="loading-container" style="
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                    height:90%;
                    margin-top: 80px;
                    width:100%;
                    z-index: 2;">
            <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 206px;width:15%"
              src="/assets/images/loading.gif" />
          </div>
            <!-- END LOADING IMAGE DIV  -->




            <div class="modal-body" style="padding-top: 0px;">


                <!-- All serverside validation on top and client side validation below input -->
                <div *ngIf="formErrors[0].msg" class="alert alert-danger alert-dismissible"
                    style="background-color: #ffe4e1 !important;" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <!-- {{formErrors[0].msg}} -->
                    <div *ngFor="let item of formErrors ">
                        <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small">
                            {{item.msg}}</li>
                    </div>
                </div>



                <!-- ***************************************************************** -->
                <!-- START FORM -->
                <!-- ***************************************************************** -->
                
                <div class="row">
                
                           
                
                    <!-- https://www.youtube.com/watch?v=Wr5urqswiko&list=PLQcBFrxTul9IQFF7fJz7jgdRYJz1OCbll&index=6 -->
                    <form [formGroup]="projectFormGroup" (ngSubmit)="savePro()">
                
                
                
                        <div hidden class="mb-3">
                            <label for="inputPassword" class="form-label">ProjectId</label>
                
                            <input type="text" class="form-control" formControlName="projectid" id="projectid" name="projectid" />
                        </div>
                
                        <!-- <textarea type="text" class="form-control" formControlName="notes" id="notes"
                        name="notes" rows="3" style="height: 100px;"></textarea> -->
                
                        <div class="col-sm-6">
                
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Project name<span style="color:red;font-size: 14px;">*</span></label>
                
                                <input type="text" class="form-control " formControlName="projectname" id="projectname"
                                    name="projectname" />

                                    <!-- <textarea type="text" class="form-control" formControlName="projectname" id="projectname" name="projectname"
                                    name="notes" rows="3" ></textarea> -->

                                <!-- <span style="font-size: 90%;" class="text-danger small" *ngIf="employeeFormGroup.get('firstname') && employeeFormGroup.get('firstname')?.invalid && employeeFormGroup.get('firstname')?.touched ">Thisis not a valid input</span> -->
                                <!-- using getters for shortcut -->
                                <span style="font-size: 90%;" class="text-danger small"
                                    *ngIf="projectname && projectname?.invalid && projectname?.touched">This is not a valid
                                    input</span>
                                <!-- serverside validation now on top -->
                                <!-- <div *ngFor="let item of formErrors">
                                                        <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small"
                                                            *ngIf="item.param == 'firstname'">{{item.test}}</li>
                                                        </div> -->
                            
                            
                             </div>
                
                
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Project role</label>
                                <select  id="projectrole" name="projectrole" formControlName="projectrole" class="form-control">
                                    <option *ngFor="let item of CmbProPRole" [value]="item.ListID">{{item.Str1}}</option>
                                </select>
                                <!-- <span class="text-danger" *ngIf="employeeFormGroup.get('lastname') && employeeFormGroup.get('lastname')?.invalid && employeeFormGroup.get('lastname')?.touched ">This  is not a valid input</span> -->
                                <!-- <span style="font-size: 90%;" class="text-danger small"
                                    *ngIf="projectrole && projectrole?.invalid && projectrole?.touched">This is not a valid
                                    input</span> -->
                                <!-- <span>check and show server side err if any with server err message</span> -->
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Award year<span style="color:red;font-size: 14px;">*</span></label>
                                <input type="text" class="form-control"   formControlName="awardyear" id="awardyear" name="awardyear" />
                                <!-- <span class="text-danger" *ngIf="employeeFormGroup.get('lastname') && employeeFormGroup.get('lastname')?.invalid && employeeFormGroup.get('lastname')?.touched ">This  is not a valid input</span> -->
                                <span style="font-size: 90%;" class="text-danger small"
                                    *ngIf="awardyear && awardyear?.invalid && awardyear?.touched">This is not a valid
                                    year</span>
                                <!-- <span>check and show server side err if any with server err message</span> -->
                            </div>
                
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Project no.<span style="color:red;font-size: 14px;">*</span><span style="font-weight: normal;">  (Last ProjectNo:  {{suggestion}}) </span></label>
                                <input type="text"  (click)="generateProjectNo()"  class="form-control" formControlName="projectno" id="projectnoedit" name="projectno" />
                                <!-- <span class="text-danger" *ngIf="employeeFormGroup.get('lastname') && employeeFormGroup.get('lastname')?.invalid && employeeFormGroup.get('lastname')?.touched ">This  is not a valid input</span> -->
                                <span style="font-size: 90%;" class="text-danger small"
                                    *ngIf="projectno && projectno?.invalid && projectno?.touched">This is not a valid
                                    input</span>
                                <!-- <span>check and show server side err if any with server err message</span> -->
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Proposal no</label>
                                <select id="proposalid" name="proposalid" formControlName="proposalid"
                                    class="form-control">
                                    <option *ngFor="let item of CmbProposalMain" [value]="item.ProposalID">{{item.ProposalNo}} : {{item.ProjectName}}</option>
                                </select>
                            </div>

                            <div class="mb-3" style="margin-top: 2px;">
                                <label for="inputPassword" class="form-label">Company</label>
                                <select id="comid" name="comid" formControlName="comid" class="form-control">
                                    <option *ngFor="let item of CmbComMain" [value]="item.ComID">{{item.CompanyName}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Project manager</label>
                                <select id="projectmanager" name="projectmanager" formControlName="projectmanager" class="form-control">
                                    <option *ngFor="let item of CmbEmpMain" [value]="item.EmpID">{{item.EmployeeID}}</option>
                                </select>
                            </div>



                        </div>
                        <!-- end 1st col -->
 
                        <div class="col-sm-6" style="padding-left: 25px;">



                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Primary project type</label>
                                <select id="primaryprojecttype" name="primaryprojecttype" formControlName="primaryprojecttype"
                                    class="form-control">
                                    <option *ngFor="let item of CmbProProjectType" [value]="item.ListID">{{item.Str1}}</option>
                                </select>
                            </div>

                            <!-- <div class="mb-3">
                                <label for="inputPassword" class="form-label">Primary project type</label>
                                <select id="primaryprojecttype" name="primaryprojecttype" formControlName="primaryprojecttype"
                                    class="form-control">
                                    <option *ngFor="let item of CmbProProjectType" [value]="item.ListID">{{item.Str1}}</option>
                                </select>
                            </div> -->

                  

                            <!-- https://www.youtube.com/watch?v=q5jNAhYcHEI -->
                            <!-- // code for dynamically check Bootstrap multiselect from database SecondaryProjectType value
                            var items=this.formdata.SecondaryProjectType;
                            $.each(items.split(','), function(idx, val) {
                                // $("#multiproeditsecproject option[value='"+val+"']").attr("selected", "selected");
                                $("#multiproeditsecproject option[value='"+val+"']").prop('selected', true); // use prop for latest jquery
                                $("#multiproeditsecproject").multiselect('rebuild'); // **IMPORTANT
                            }); -->

                            <!-- WORKING https://davidstutz.github.io/bootstrap-multiselect/ -->
                            <!-- using js and css file in assets from https://colorlib.com/wp/template/multiselect-01/-->
                            <label for="inputPassword" multiple="multiple" class="form-label">SecondaryProjectType</label>
                            <div class="" style="margin-top: 5px;">
                                <!-- <strong>Select Language:</strong> -->
                                <!-- <select id="multiple-checkboxes" multiple="multiple"> -->
                                    <!-- <select id="test" multiple="test"> -->
                                        <!-- not using (click)="reloadPage()",now page is loaded from url to refresh -->
                                        <!-- <select id="multiple-checkboxes2" multiple="multiple" (click)="reloadPage()" class="reloadPage" style="height: 300px !important;width: 422px !important;background-color: white !important;" > -->
                                        <select id="multiple-checkboxes2" multiple="multiple" class="reloadPage" style="width:100% !important;height: 42px !important;"  >

                                    <!-- https://stackoverflow.com/questions/68133144/bootstrap-multiselect-search-get-value-from-database -->
                                    <!-- <option value="php">PHP</option>
                                    <option value="javascript">JavaScript</option>
                                    <option value="java">Java</option>
                                    <option value="sql">SQL</option>
                                    <option value="jquery">This is a clean and simplistic free multiselect dropdown</option>
                                    <option value=".net">.Net</option> -->
                                    <!-- <option *ngFor="let item of CmbProProjectType" [value]="item.ListID">{{item.Str1}}</option> -->

                                </select>
                            </div>




 
                      


                            <!-- HIDDEN ITEMS -->
                            <!-- hidden secproj coma values stored in database -->
                            <div hidden class="mb-3" >
                                <!-- <label for="inputPassword" class="form-label">database Secondary project type</label> -->
                                <input type="text" class="form-control" formControlName="secondaryprojecttype"  id="secondaryprojecttype" style="margin-top:5px;width: 100% ;background-color: #e8e8e8;height: 32px;">
                            </div>


                            <!-- hidden input for storing multi selected items used for search-->
                            <div hidden class="form-group" >
                                <label class="control-label col-sm-5">multiSelectedIds</label>
                                <div class="col-md-7">
                                    <input type="text" id="multiSelectedIdsEditModal">
                                </div>
                            </div>


                            
                            <!-- if needed can use for clear selected items -->
                            <a hidden (click)="clearMultiSelect2()" onclick="event.preventDefault();">clearMultiselect</a>

                   




                

                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Owner category</label>
                                <select id="ownercategory" name="ownercategory" formControlName="ownercategory" class="form-control">
                                    <option *ngFor="let item of CmbProOCategory" [value]="item.ListID">{{item.Str1}}</option>
                                </select>
                            </div>



                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Owner</label>
                                <select id="owner" name="owner" formControlName="owner" class="form-control">
                                    <option *ngFor="let item of CmbCaoMain" [value]="item.CAOID">{{item.Name}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Client</label>
                                <select id="client" name="client" formControlName="client" class="form-control">
                                    <option *ngFor="let item of CmbCaoMain" [value]="item.CAOID">{{item.Name}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Project agreement no.</label>
                                <input type="text" class="form-control" formControlName="projectagreementno" id="projectagreementno"
                                    name="projectagreementno" />
                            </div>
                
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Project status</label>
                                <select id="projectstatus" name="projectstatus" formControlName="projectstatus" class="form-control">
                                    <option *ngFor="let item of CmbProStatus" [value]="item.ListID">{{item.Str1}}</option>
                                </select>
                            </div>
                
                
                
                            <!-- <div class="form-group row">
                                                    <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" formControlName="employee_consultant" id="consultant" name="consultant">
                                                        consultant</label>
                                                    </div>
                                                        </div>
                                                    </div> -->
                
                
                
                
                
                
                
                
                
                            <div class="modal-footer" style="padding-top: 30px;padding-right: 0px;">
                                <button [disabled]="projectFormGroup.invalid" type="submit" class="btn btn-primary">Save
                                    changes</button>                                
                                <button (click)="clearFormErrors()" type="button" id="btnProjectEditCloseModal" class="btn btn-outline-dark"
                                    style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Cancel</button>

                
                                <!-- <button (click)="test1(1)" type="button" id="btnProjectEditCloseModal" class="btn btn-outline-dark" >test</button> -->
                
                            </div>


                        </div>
                        <!-- end 2nd col -->

                
                    </form>
                
                <!-- </div> -->
                
                </div>
                <!-- end row -->
                
                
                <!-- ***************************************************************** -->
                <!-- END FORM -->
                <!-- ***************************************************************** -->



            </div>
            <!-- end modal body -->



            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary">Save changes</button>
            </div> -->

        </div>


    </div>



    <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
    <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#empeditmodal" style="visibility: hidden;"> -->
    <button hidden id="btnProEditModalShow" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#proeditmodal" style="visibility: hidden;">
        Launch demo modal
    </button>

</div>