<!-- <p>pro-clientcontact works!</p> -->

<!-- Start Detail Modal -->
<!-- ====================================================================================================== -->


<div class="modal fade" id="proclientcontactdetailmodal" tabindex="-1" role="dialog"
  aria-labelledby="proclientcontactdetailmodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:720px;">
    <div class="modal-content" style="padding:30px;padding-bottom: 15px;background-color: #e9e9e9;">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="proclientcontactdetailmodalLabel"
          style="font-weight: bold;font-size: 26px;padding-bottom: 0px;">Employee
          Registration Detail</h5>

      </div>
      <!-- LOADING IMAGE DIV  -->
      <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                  background-color: transparent;
                                  opacity:1;
                                  position: absolute;
                                  z-index: 2;
                                  margin-left: 0%;
                                  margin-right: 0%;
                                  margin-top: 0%;
                                  margin-bottom: 0%;
                                  height: 84.5%;
                                  padding-top: 60px;">
        <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
          src="/assets/images/loading.gif" />
      </div> -->

      <div *ngIf="loading2" class="loading-container" style="
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            height:90%;
            margin-top: 80px;
            width:100%;
            z-index: 2;">
        <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 155px;width:15%"
          src="/assets/images/loading.gif" />
      </div>
      <!-- END LOADING IMAGE DIV  -->





      <!-- ************************************************************************************** -->
      <!-- ************************************************************************************** -->

      <div class="modal-body" style="padding-top: 0px;">


        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ID</label>
          <input *ngIf="proclientcontact != null" type="text" value="{{proclientcontact.ID}}" class="form-control" id="id" name="id" />
        </div>
        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ProjectID</label>
          <input *ngIf="proclientcontact != null" type="text" value="{{proclientcontact.ProjectID}}" class="form-control" id="projectid" name="projectid" />
        </div>
        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">CAOID</label>
          <input *ngIf="proclientcontact != null" type="text" value="{{proclientcontact.CAOID}}" class="form-control" id="caoid" name="caoid" />
        </div>

        <div class="row">
        
          <div class="col-sm-12">
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Person1</label>
              <input *ngIf="proclientcontact != null" type="text" disabled value="{{proclientcontact.Person1}}" class="form-control" id="person1"
                name="person1" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Person2</label>
              <input *ngIf="proclientcontact != null" type="text" disabled value="{{proclientcontact.Person1}}" class="form-control" id="person2"
                name="person2" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Person3</label>
              <input *ngIf="proclientcontact != null" type="text" disabled value="{{proclientcontact.Person1}}" class="form-control" id="person3"
                name="person3" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Notes</label>
              <input *ngIf="proclientcontact != null" type="text" disabled value="{{proclientcontact.AddressLine1}}" class="form-control" id="notes"
                name="notes" />
            </div>


          </div>
        
        </div>
        <!-- end row -->


        <div class="mb-3">
          <label for="inputPassword" class="form-label">Notes</label>
          <!-- <input type="text" class="form-control " formControlName="notes" id="notes"
                name="notes" /> -->
          <textarea *ngIf="proclientcontact != null" type="text" disabled value="{{proclientcontact.Notes}}" class="form-control" style="height:120px" id="notes"
            name="notes" rows="3"></textarea>
        </div>


      </div>

      <div class="modal-footer" style="margin-top: -10px;margin-right: 0px;">
        <button type="button" id="proclientcontactdetailmodal" class="btn btn-outline-dark"
          style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      </div>



    </div>
    <!-- end modal body ******************************************************************************* -->
    <!-- ******************************************************************************* -->


  </div>

  <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
  <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="proclientcontactdetailmodalShow" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#proclientcontactdetailmodal" style="visibility: hidden;">
    Launch demo modal
  </button>


</div><!-- end Detail Modal -->






  <!-- Edit Modal -->
<!-- ====================================================================================================== -->

<div class="modal fade" id="proclientcontacteditmodal" tabindex="-1" role="dialog" aria-labelledby="proclientcontacteditmodalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document" style="width:720px;">
  <div class="modal-content" style="padding:30px;padding-bottom: 5px;background-color: #e9e9e9;">
    <div class="modal-header">
      <button (click)="clearFormErrors()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>      
      <!-- <h5 class="modal-title" id="empeditmodalLabel" style="font-weight: bold;font-size: 26px;">Employee Registration</h5> -->
      <h5 *ngIf="modalClicked=='editModal'" class="modal-title" id="usereditmodalLabel" style="font-weight: bold;font-size: 26px;">Edit Project Client Contact
      </h5>
      <h5 *ngIf="modalClicked=='addModal'" class="modal-title" id="usereditmodalLabel" style="font-weight: bold;font-size: 26px;">Add Project Client Contact
   </h5>
    </div>

    <div *ngIf="loading2" class="loading-container" style="
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:90%;
        margin-top: 80px;
        width:100%;
        z-index: 2;">
      <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 155px;width:15%"
        src="/assets/images/loading.gif" />
    </div>
    <!-- END LOADING IMAGE DIV  -->

    <div class="modal-body" style="padding-top: 0px;">


      <!-- All serverside validation on top and client side validation below input -->
      <div *ngIf="formErrors[0].msg" class="alert alert-danger alert-dismissible"style="background-color: #ffe4e1 !important;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <!-- {{formErrors[0].msg}} -->
        <div *ngFor="let item of formErrors">
          <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small">{{item.msg}}</li>
        </div>
      </div>

      <!-- https://www.youtube.com/watch?v=Wr5urqswiko&list=PLQcBFrxTul9IQFF7fJz7jgdRYJz1OCbll&index=6 -->
      <form [formGroup]="proClientcontactFormGroup" (ngSubmit)="saveProClientcontact()">
     
        
        <!-- <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        
        <div class="row">
          <div class="col-sm-12">
        
        
            <div hidden class="mb-3">
              <label for="inputPassword" class="form-label">Id</label>
              <input type="text" class="form-control" formControlName="id" id="id" name="id" />
            </div>

            <div hidden class="mb-3">
              <label for="inputPassword" class="form-label">Project Id</label>
              <input type="text" class="form-control" formControlName="projectid" id="projectid" name="projectid" />
            </div>

            <div hidden class="mb-3">
              <label for="inputPassword" class="form-label">CAOID</label>
              <input type="text" class="form-control" formControlName="caoid" id="caoid" name="caoid" />
            </div>

            <div class="mb-3">
              <!-- <label for="inputPassword" class="form-label">Notes</label> -->
              <!-- NOTE FIELD IS NOW USED AS Project Contact and Phone for resume -->
              <label for="inputPassword" class="form-label">Notes <span style="color:red;font-size: 14px;">*</span></label>
                <textarea type="text" class="form-control" formControlName="notes" id="notes"
                  name="notes" rows="3" style="height: 200px;" ></textarea>
                  <span style="font-size: 100%;" class="text-danger small"
                  *ngIf="notes && notes?.invalid && notes?.touched">Project Owner Contact is
                  required</span>            
            </div>

            <div class="mb-3" hidden>
              <label for="inputPassword" class="form-label">Person1</label>
              <select id="person1" name="person1" formControlName="person1" class="form-control">
                <option *ngFor="let item of CmbEmpMain" [value]="item.EmpID">{{item.EmployeeID}}</option>
              </select>
            </div>
            <div class="mb-3" hidden>
              <label for="inputPassword" class="form-label">Person2</label>
              <select id="person1" name="person1" formControlName="person1" class="form-control">
                <option *ngFor="let item of CmbEmpMain" [value]="item.EmpID">{{item.EmployeeID}}</option>
              </select>
            </div>
            <div class="mb-3" hidden>
              <label for="inputPassword" class="form-label">Person3</label>
              <select id="person1" name="person1" formControlName="person1" class="form-control">
                <option *ngFor="let item of CmbEmpMain" [value]="item.EmpID">{{item.EmployeeID}}</option>
              </select>
            </div>





          </div>
        
   
        </div>
        <!-- end row -->







        <div class="modal-footer" style="padding-top: 25px;padding-right: 0px;">
          <button [disabled]="proClientcontactFormGroup.invalid" type="submit" class="btn btn-primary">Save changes</button>
          <button (click)="clearFormErrors()" type="button" id="btnProClientContactEditCloseModal" class="btn btn-outline-dark"
            style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Cancel</button>
         
          <!-- <button (click)="test1(1)" type="button" id="btnEditCloseModal" class="btn btn-outline-dark" >test</button> -->

        </div>
      </form>
    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary">Save changes</button>
      </div> -->

  </div>
</div>



<!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
<!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="btnProClientcontactEditModalShow"  type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#proclientcontacteditmodal" style="visibility: hidden;">
  Launch demo modal
</button>

</div>


  <!-- END Edit Modal -->







<!-- <button style="float: left;margin-top: 4px;">Add</button> -->
<!-- <a (click)="showProTeamAddModal()" type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#proteameditmodal"  -->

<!-- <a type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#prodaceditmodal"
  style="color:#006fae; border-color: #959595;margin-bottom: 6px;margin-top:-59px;margin-left:1145px;margin-right:0px;width:80px;">
  <span aria-hidden="true" class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
  Add</a>

  <a type="button"  (click)="showProDacEditModal(childprojectid)"  class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#prodaceditmodal"
  style="color:#006fae; border-color: #959595;margin-bottom: 6px;margin-top:-59px;margin-left:1145px;margin-right:0px;width:80px;">
  <span aria-hidden="true" class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
  Edit</a> -->

  <!-- <button type="button"  (click)="checkForProjectID()">test</button>  -->

  <div id="detailsproclientcontacttab" style="margin-top:7px !important;padding-left: 1px;padding-right: 2px;">
 
 
    <!-- Buttons -->
    <div style="height: 25px;margin-bottom: 10px; float: right;margin-top: 10px;margin-right: 10px;">
        <a class='btn-add' (click)="checkForProjectID()" 
        style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);'>Add</a> | 
        <!-- <a type="button" id="openaddmodalproclientcontact" class='btn-edit' (click)="showProDacEditModal(childprojectid)" data-toggle='modal' data-target='#prodaceditmodal'
        style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);'>Edit</a> |  -->
        <!-- removed data-toggle="modal" data-target="#prodescriptioneditmodal" to prevent auto open modal after check role fail  -->
         <!-- <a type="button" id="openaddmodalproclientcontact" class='btn-edit' (click)="showProClientcontactEditModal(childprojectid)"
        style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);'>Edit</a> |  -->
        <!-- ** 20240503 also added for edit to check if there id no dates and coste to edit -->
        <a type="button" id="openaddmodalproclientcontact" class='btn-edit' (click)="checkForProjectIDEdit(childprojectid)"
        style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);'>Edit</a> | 
        <a class='btn-delete' (click)="deleteProClientcontact(childprojectid)"
        style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);'>Delete</a>
    </div>
  
  
    <div class="row"
      style="height: 280px;margin-top:0px;margin-left:0px;margin-right:0px;padding:15px;padding-left:10px;padding-top:25px;border:1px solid #afafaf; border-radius: 0px;">
  
      <div class="col-sm-8" style="margin-right:0px; margin-top: 10px;margin-left: 50px;">
        
        <!-- <dl class="dl-horizontal"> -->
  
          <!-- https://stackoverflow.com/questions/6584235/django-want-to-display-an-empty-field-as-blank-rather-displaying-none -->
          <!-- {% if not emp.EmployeeID == None %}
                {{emp.EmployeeID}}
                {%endif%}-->
  
          <!-- <dt>ProjectNo</dt>
              <dd id="ddEmployeeID">{{prodac.ProjectID}}</dd> -->

              <!-- <dt style="width: 120px;">Project Contact</dt>
              <dd>{{proownercontact.Notes}}</dd>
              <dt style="width: 120px;">Person1</dt>
              <dd>{{proownercontact.Person1}}</dd>
              <dt style="width: 120px;">Person2</dt>
              <dd>{{proownercontact.Person2}}</dd>
              <dt style="width: 120px;">Person3</dt>
              <dd>{{proownercontact.Person3}}</dd>
              <dt style="width: 120px;">Caoid</dt>
              <dd>{{proownercontact.CAOID}}</dd>
        </dl> -->
<label style="text-decoration: underline;padding-left: 12px;font-size: 14px;">Client Contact Address and Phone</label>
        <textarea *ngIf="proclientcontact != null" type="text" disabled value="{{proclientcontact.Notes}}" class="form-control"
        style="height:200px;background-color:transparent; border:none; line-height: 1.65; cursor: default;" id="dutiesandresponsibilities" name="dutiesandresponsibilities" rows="3"></textarea>
        <textarea *ngIf="proclientcontact == null" type="text" disabled value={{nodataavailable}} class="form-control"
        style="height:200px;background-color:transparent;color:rgb(96, 96, 96); border:none; line-height: 1.65; cursor: default;" id="dutiesandresponsibilities" name="dutiesandresponsibilities" rows="3"></textarea>

      </div>

      <!-- <div style="height: 25px;margin-bottom: 10px; float: right;margin-top: 10px;margin-right: 10px;">
        <a class='btn-detail' (click)="showProDacEditModal(childprojectid)"  style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);' >Detail</a> | <a class='btn-edit' data-toggle='modal' data-target='#prodaceditmodal' style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);' >Edit</a> | <a class='btn-delete' style='cursor: pointer;text-decoration:underline;color:rgb(9, 85, 166);' >Delete</a>
      </div> -->
  
  
    </div>
    <!--  end row -->
  
    <!-- <div style="background-color:#d6d6d6;height:1px;margin-top: 15px;"></div> -->
  </div>
  <!--  end detail -->