<!-- <p>project works!</p> -->


<div>
    <!-- <a (click)="showEmpAddModal()" type="button" class="btn btn-outline-dark pull-right btn-sm "
      style="margin-left:4px;margin-bottom:8px;color:#006fae; border-color: #959595;" data-toggle="modal"
      data-target="#empeditmodal"> <span aria-hidden="true" class="glyphicon glyphicon-plus" style="color:#006fae"></span>
      Add new</a> -->
    <a (click)="clearSearch()" style="margin-left:4px;border-color: #959595;color:#006fae;" type="button" id="reset"
        class="btn btn-outline-dark pull-right btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-refresh"
            style="color:#006fae"></span> Reset</a>
</div>

<h2 style="margin-bottom: 5px;font-weight: bold;color: rgb(51, 51, 51);margin-top: 10px;">Project</h2>

<div class="container" style="background-color: #f1f3f4;border:1px solid #337ab7; padding: 5px; margin: 0px;width:100%">
    <br />



    <!-- Datatable -->
    <!-- =================================================================================================== -->
    <table id="dt" datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-striped"
        style=" width: 100%; ">

        <!-- thead is used twice because the header was not visible since datatable visibility turned off 
      so that data does not repeat. We need it to export in excel. This affects thead visibility. So used twice to make visible  -->
        <thead class="" style="border:1px solid red">
            <tr class="bg-primary">
                <!-- <th scope="col">empid</th> -->
                <!-- <th scope="col">firstname</th>
          <th scope="col">lastname</th>
          <th scope="col">jobtitle</th>
          <th scope="col">registration</th>
          <th scope="col">hiredate</th> -->

                <!-- <th scope="col">ProjectID</th>
                <th scope="col">Project no.</th>
                <th scope="col">Project name</th>
                <th scope="col">Project role</th>
                <th scope="col">Award year</th>
                <th scope="col">Project manager</th>
                <th scope="col">Owner category</th>
                <th scope="col">Company</th>
                <th scope="col">Primary project type</th>
                <th scope="col">Secondary project type</th>
                <th scope="col">Owner</th>
                <th scope="col">Client</th>
                <th scope="col">Project agreement no.</th>
                <th scope="col">Project status</th>
                <th scope="col">ProposalID</th> -->
                <!-- <th scope="col">Action</th> -->

                <th hidden scope="col">ProjectID</th>
                <th scope="col" style="width: 100px;">Project no.</th>
                <th scope="col" style="width: 270px;">Project name</th>
                <th  scope="col" style="width: 110px;">Project role</th>
                <th scope="col" style="width: 80px;">Award year</th>
                <th hidden scope="col">Project manager</th>
                <th hidden scope="col">Owner category</th>
                <th hidden scope="col">Company</th>
                <th scope="col">Primary project type</th>
                <th hidden scope="col">Secondary project type</th>
                <th scope="col" style="width: 12nbghjk0px;">Owner</th>
                <th hidden scope="col">Client</th>
                <th hidden scope="col">Project agreement no.</th>
                <th hidden scope="col">Project status</th>
                <th hidden scope="col">ProposalID</th>
                <!-- <th scope="col">Action</th> -->


                <th scope="col" style="text-align: center;width: 100px;">Action</th>
            </tr>
        </thead>
    </table>

</div>