

/* to line up btns */
/* not working here. moved to global index.html */
.dataTables_length{
    float:left !important;
    margin-left: 20px !important;
}
/* .dt-buttons{
    float:left !important;
    margin-left: 20px !important;
} */

::ng-deep .dataTables_filter{
    margin-left: 502px !important;
    padding-top: 7px !important;

}


