
<!-- <p>emp-training works!</p>  -->





<!-- Start Detail Modal -->
<!-- ====================================================================================================== -->


<div class="modal fade" id="emptrainingdetailmodal" tabindex="-1" role="dialog" aria-labelledby="emptrainingdetailmodalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:820px;">
    <div class="modal-content" style="padding:30px;padding-bottom: 15px;background-color: #dfdfdf;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="emptrainingdetailmodalLabel"
          style="font-weight: bold;font-size: 26px;padding-bottom: 0px;">Employee
          Certifications</h5>

      </div>
      <div *ngIf="loading2" class="loading-container" style="
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            height:90%;
            margin-top: 80px;
            width:100%;
            z-index: 2;">
        <img class="imgloading"
          style=" margin-left: auto; margin-right: auto;display: block;margin-top: 155px;width:15%"
          src="/assets/images/loading.gif" />
      </div>
      <!-- END LOADING IMAGE DIV  -->

      <!-- ************************************************************************************** -->




      <div class="modal-body" style="padding-top: 0px; margin-top: -15px;">

        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ID</label>
          <input type="text" value="{{emptraining.ID}}" class="form-control" id="id" name="id" />
        </div>
        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">EmpID</label>
          <input type="text" value="{{emptraining.EmpID}}" class="form-control" id="empid" name="empid" />
        </div>


        <!-- field = Training Institution now using name -->
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Training</label>
            <input type="text" disabled value="{{emptraining.TrainingInstitution}}" class="form-control"
              id="traininginstitution" name="traininginstitution" />
          </div>


        <div class="row">

          <div class="col-sm-7">

            <!-- field = Trainingname now using Training type -->
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Training Type</label>
              <input type="text" disabled value="{{emptraining.disTrainingName}}" class="form-control" id="trainingname"
                name="trainingname" />
            </div>

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Training issue date</label>
              <input type="text" disabled value='{{datePipe.transform(emptraining.TrainingIssueDate, "MM/dd/yyyy")}}'
                class="form-control" id="trainingissuedate" name="trainingissuedate" />
            </div>

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Training expiry date</label>
              <input type="text" disabled value='{{datePipe.transform(emptraining.TrainingExpDate, "MM/dd/yyyy")}}'
                class="form-control" id="trainingexpdate" name="trainingexpdate" />
            </div>

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Certification no.</label>
              <input type="text" disabled value="{{emptraining.TrainingCertificationNo}}" class="form-control"
                id="trainingcertificationno" name="trainingcertificationno" />
            </div>

          </div>
          
          <div class="col-sm-5">

            <div class="mb-3">
              <label for="inputPassword" class="form-label">City</label>
              <input type="text" disabled value="{{emptraining.City}}" class="form-control" id="city" name="city" />
            </div>

            <div class="mb-3">
              <label for="inputPassword" class="form-label">State</label>
              <input type="text" disabled value="{{emptraining.disState}}" class="form-control" id="state"
                name="state" />
            </div>

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Country</label>
              <input type="text" disabled value="{{emptraining.disCountry}}" class="form-control" id="country"
                name="country" />
            </div>


          </div>
        

        </div>
        <!-- end row -->

        <div class="mb-3">
          <label for="inputPassword" class="form-label">Notes</label>
          <!-- <input type="text" class="form-control " formControlName="notes" id="notes"
                      name="notes" /> -->
          <textarea type="text" disabled value="{{emptraining.Notes}}" class="form-control" style="height:45px"
            id="notes" name="notes" rows="3"></textarea>
        </div>



      </div>

      <div class="modal-footer" style="margin-top: -10px;margin-right: 0px;">
        <button type="button" id="emptrainingdetailmodal" class="btn btn-outline-dark"
          style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      </div>

    </div>
    <!-- end modal body ******************************************************************************* -->

  </div>



  <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
  <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="emptrainingdetailmodalShow" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#emptrainingdetailmodal" style="visibility: hidden;">
    Launch demo modal
  </button>


</div><!-- end Detail Modal -->










<!-- Edit Modal -->
<!-- ====================================================================================================== -->

<div class="modal fade" id="emptrainingeditmodal" tabindex="-1" role="dialog" aria-labelledby="emptrainingeditmodalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:820px;">
    <div class="modal-content" style="padding:30px;padding-bottom: 5px;background-color: #dfdfdf;">
      <div class="modal-header">
        <button (click)="clearFormErrors()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <h5 class="modal-title" id="empeditmodalLabel" style="font-weight: bold;font-size: 26px;">Employee Registration</h5> -->
        <h5 *ngIf="modalClicked=='editModal'" class="modal-title" id="usereditmodalLabel"
          style="font-weight: bold;font-size: 26px;">Edit Employee Training
        </h5>
        <h5 *ngIf="modalClicked=='addModal'" class="modal-title" id="usereditmodalLabel"
          style="font-weight: bold;font-size: 26px;">Add Employee Training
        </h5>
      </div>

      <div *ngIf="loading2" class="loading-container" style="
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:90%;
        margin-top: 80px;
        width:100%;
        z-index: 2;">
        <img class="imgloading"
          style=" margin-left: auto; margin-right: auto;display: block;margin-top: 155px;width:15%"
          src="/assets/images/loading.gif" />
      </div>
      <!-- END LOADING IMAGE DIV  -->

      <div class="modal-body" style="padding-top: 0px; margin-top: -15px;">


        <!-- All serverside validation on top and client side validation below input -->
        <div *ngIf="formErrors[0].msg" class="alert alert-danger alert-dismissible"
          style="background-color: #ffe4e1 !important;" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <!-- {{formErrors[0].msg}} -->
          <div *ngFor="let item of formErrors">
            <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small">{{item.msg}}</li>
          </div>
        </div>


        <!-- https://www.youtube.com/watch?v=Wr5urqswiko&list=PLQcBFrxTul9IQFF7fJz7jgdRYJz1OCbll&index=6 -->
        <form [formGroup]="emptrainingFormGroup" (ngSubmit)="saveEmpTraining()">


          <!-- Actual field is "Training Institution" now using training name -->
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Training <span
              style="color:red;font-size: 14px;">*</span></label>
            <input type="text" class="form-control " formControlName="traininginstitution" id="traininginstitution" name="traininginstitution" />
            <span style="font-size: 100%;" class="text-danger small"
            *ngIf="trainingname && trainingname?.invalid && trainingname?.touched">Training field is
            required</span>
          </div>

          <div class="row">
            <div class="col-sm-7">

              <div hidden class="mb-3">
                <label for="inputPassword" class="form-label">Id</label>
                <input type="text" class="form-control" formControlName="id" id="id" name="id" />
              </div>
              <div hidden class="mb-3">
                <label for="inputPassword" class="form-label">Emp Id</label>
                <input type="text" class="form-control" formControlName="empid" id="empid" name="empid" />
              </div>

              <!-- Actual field is "TrainingName" now using training type -->
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Training Type </label>
                <select id="trainingname" name="trainingname" formControlName="trainingname" class="form-control">
                  <option *ngFor="let item of cmbEmpTraining" [value]="item.ListID">{{item.Str1}}</option>
                </select>
                <!-- <span style="font-size: 100%;" class="text-danger small"
                  *ngIf="trainingname && trainingname?.invalid && trainingname?.touched">TrainingName field is
                  required</span> -->
              </div>

              <div class="mb-3">
                <label for="inputPassword" class="form-label">Training issue date</label>
                <input type="date" class="form-control" formControlName="trainingissuedate" id="trainingissuedate"
                  name="trainingissuedate" />
              </div>

              <div class="mb-3">
                <label for="inputPassword" class="form-label">Training expiry date</label>
                <input type="date" class="form-control" formControlName="trainingexpdate" id="trainingexpdate"
                  name="trainingexpdate" />
              </div>

              <div class="mb-3">
                <label for="inputPassword" class="form-label">Certification no.</label>
                <input type="text" class="form-control " formControlName="trainingcertificationno"
                  id="trainingcertificationno" name="trainingcertificationno" />
              </div>


            </div>

            <div class="col-sm-5">

              <div class="mb-3">
                <label for="inputPassword" class="form-label">City</label>
                <input type="text" class="form-control " formControlName="city" id="city" name="city" />
              </div>


              <div class="mb-3">
                <label for="inputPassword" class="form-label">Training State </label>
                <select id="state" name="state" formControlName="state" class="form-control">
                  <option *ngFor="let item of cmbState" [value]="item.ListID">{{item.Str1}}</option>
                </select>
                <span style="font-size: 100%;" class="text-danger small"
                  *ngIf="state && state?.invalid && state?.touched">State
                  field is required</span>
              </div>

              <div class="mb-3">
                <label for="inputPassword" class="form-label">Country</label>
                <select id="country" name="country" formControlName="country" class="form-control">
                  <option *ngFor="let item of cmbCountry" [value]="item.ListID">{{item.Str1}}</option>
                </select>
              </div>



            </div>

          </div>
          <!-- end row -->

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Notes</label>
            <textarea type="text" class="form-control" formControlName="notes" id="notes" name="notes" rows="3"
              style="height: 45px;"></textarea>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
          </div>


          <div class="modal-footer" style="padding-top: 25px;padding-right: 0px;">
            <button [disabled]="emptrainingFormGroup.invalid" type="submit" class="btn btn-primary">Save
              changes</button>
            <button (click)="clearFormErrors()" type="button" id="btnEmpTrainingEditCloseModal" class="btn btn-outline-dark"
              style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Cancel</button>

            <!-- <button (click)="test1(1)" type="button" id="btnEditCloseModal" class="btn btn-outline-dark" >test</button> -->

          </div>

        </form>

      </div>

      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary">Save changes</button>
      </div> -->

    </div>

  </div>



  <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
  <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="btnEmpTrainingModalShow" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#emptrainingeditmodal" style="visibility: hidden;">
    Launch demo modal
  </button>

</div>












<a (click)="checkAddRole()" type="button"  class="btn btn-outline-dark btn-sm btn-add" id="emptrainingaddbtn"
style="color:#006fae;z-index: 100;position: absolute; margin-left: 1097px; border-color: #959595;margin-top:8px;float:right;margin-right:2px;width:130px;"> <span aria-hidden="true"
  class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
Add Certification</a>



<table  id="dt" datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-striped"
style="border:1px solid #bbbbbb; width: 100%; margin-top: 5px !important; ">

<thead class="" style="border:1px solid red">
  <tr class="bg-primary">
    <!-- <th scope="col" hidden>ID</th> -->
    <!-- <th scope="col"  style="max-width:310px !important;">Institution</th>  -->
    <!-- now using as training name -->
    <th scope="col"  style="min-width:250px !important;">Training</th> 
    <!-- <th scope="col" style="min-width:310px !important;">TrainingName</th> -->
    <!-- now using as training type -->
    <th scope="col" style="min-width:100px !important;">Training Type</th>
    <!-- <th scope="col" >State</th> -->
    <th scope="col" >Issue Date</th>
    <th scope="col" >Exp Date</th>
    <th scope="col"  >Certification No.</th>
    <!-- <th scope="col" hidden>EmpID</th> -->
    <th scope="col" style="text-align: center !important;min-width: 90px !important; padding-left: 30px;padding-right: 30px;">Action</th>
  </tr>
</thead>


</table>
