

  .empresumeproects-form .control-label {
    text-align: left;
    padding-left: 15px;
  }
  
  .empresumeproects-form input {
border-color: #adb1bc;
  }

/* ******************************************************************************
change dt styles without index.html
****************************************************************************** */

  /* chatgpt use ::ng-deep to change dt styles to avoid styling in index.html */
  ::ng-deep #dt.dt_emp_resumeprojects_search>tbody>tr>td, #jquerydatatable.table>tbody>tr>td{
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    vertical-align: top !important;
    /* wrap for showing the whole wrap text in one paragraph */
    white-space:wrap !important; 
    /* nowrap for showing the each paragraph in one line only and will show ... at the end */
    /* white-space:nowrap !important; */
    /* word-wrap: break-word; */
  }

    /* for controlling individually ngselect_prosearch_2ndryprotype */
    ::ng-deep .ngselect_empresumeprojects_search .ng-dropdown-panel .ng-dropdown-panel-items {
      max-height: 480px !important;
      /* width: 202px !important; */
      overflow-y: auto;
      line-height: .75;
    }

    /* for controlling individually ngselect_prosearch_2ndryprotype */
    ::ng-deep .ngselect_empresumeprojects_search2 .ng-dropdown-panel .ng-dropdown-panel-items {
      max-height: 560px !important;
      width: 510px !important;
      overflow-y: auto;
      line-height: .75;
    }

    ::ng-deep .dataTables_filter{
      margin-left: 502px !important;
      padding-top: 7px !important;
  
  }

  ::ng-deep #empresumeprojectssearchontainer #dt_filter{
    float:left;
    /* margin-left: 430px; */
    margin-left: 417px;
  }