<!-- <p>emp-expsummary works!</p> -->

<!-- <div style="padding: 18px;">
    <p><b style="font-size: 20px;color: rgb(125, 125, 125);">Under Construction</b></p>
</div> -->




<!-- Start Detail Modal -->
<!-- ====================================================================================================== -->

<div class="modal fade" id="empexpsummarydetailmodal" tabindex="-1" role="dialog"
  aria-labelledby="empexpsummarydetailmodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:820px;">
    <div class="modal-content" style="padding:35px;padding-top:30px;padding-bottom:10px;background-color: #dfdfdf;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="empexpsummarydetailmodalLabel"
          style="font-weight: bold;font-size: 26px;padding-bottom: 0px;">Project Description
        </h5>

      </div>
      <!-- LOADING IMAGE DIV  -->
      <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                  background-color: transparent;
                                  opacity:1;
                                  position: absolute;
                                  z-index: 2;
                                  margin-left: 0%;
                                  margin-right: 0%;
                                  margin-top: 0%;
                                  margin-bottom: 0%;
                                  height: 84.5%;
                                  padding-top: 60px;">
        <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
          src="/assets/images/loading.gif" />
      </div> -->
      <div *ngIf="loading2" class="loading-container" style="
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            height:90%;
            margin-top: 80px;
            width:100%;
            z-index: 2;">
        <img class="imgloading"
          style=" margin-left: auto; margin-right: auto;display: block;margin-top: 228px;width:15%"
          src="/assets/images/loading.gif" />
      </div>
      <!-- END LOADING IMAGE DIV  -->

      <!-- ************************************************************************************** -->
      <!-- ************************************************************************************** -->



      <div class="modal-body" style="padding-top: 0px;">

        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ID</label>
          <input type="text" value="{{empexpsummary.ID}}" class="form-control" id="id" name="id" />
        </div>
        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">EmpID</label>
          <input type="text" value="{{empexpsummary.EmpID}}" class="form-control" id="empid" name="empid" />
        </div>
        
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Experience Summary Type</label>
          <input disabled type="text" value="{{empexpsummary.disItemName}}" class="form-control" id="itemname"
            name="itemname" />
        </div>

        <div class="mb-3">
          <label for="inputPassword" class="form-label">Description plain text</label>
          <textarea type="text" disabled value="{{empexpsummary.DescriptionPlainText}}" class="form-control"
            style="height:250px" id="descriptionplaintext" name="descriptionplaintext" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="inputPassword" class="form-label">Notes</label>
          <textarea type="text" disabled value="{{empexpsummary.Notes}}" class="form-control" style="height:100px"
            id="notes" name="notes" rows="3"></textarea>
        </div>

      </div>
      <!-- end modal body -->

      
      <div class="modal-footer" style="margin-top: -10px;margin-right: 0px;">
        <button type="button" id="empexpsummarydetailmodal" class="btn btn-outline-dark"
          style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      </div>



    </div>
    <!-- end modal dialog ******************************************************************************* -->
    <!-- ******************************************************************************* -->


  </div>

  <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
  <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="empexpsummarydetailmodalShow" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#empexpsummarydetailmodal" style="visibility: hidden;">
    Launch demo modal
  </button>


</div><!-- end Detail Modal -->




















<!--EDIT Modal Start************************************************************** -->


<div class="modal fade" id="empexpsummaryeditmodal" tabindex="-1" role="dialog"
  aria-labelledby="empexpsummaryeditmodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:800px;">
    <div class="modal-content" style="padding:35px;padding-bottom: 5px;padding-top:25px;background-color: #dfdfdf;">
      <div class="modal-header">
        <button (click)="clearFormErrors()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <h5 class="modal-title" id="empeditmodalLabel" style="font-weight: bold;font-size: 26px;">Project Description
        </h5> -->
        <h5 *ngIf="modalClicked=='editModal'" class="modal-title" id="usereditmodalLabel"
          style="font-weight: bold;font-size: 26px;">Edit Experience Summary
        </h5>
        <h5 *ngIf="modalClicked=='addModal'" class="modal-title" id="usereditmodalLabel"
          style="font-weight: bold;font-size: 26px;">Add Experience Summary
        </h5>

      </div>
      <div *ngIf="loading2" class="loading-container" style="
                  position:absolute;
                  top:0;
                  left:0;
                  bottom:0;
                  right:0;
                  height:90%;
                  margin-top: 80px;
                  width:100%;
                  z-index: 2;">
        <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 228px;width:15%"
          src="/assets/images/loading.gif" />
      </div>
      <!-- END LOADING IMAGE DIV  -->

      <div class="modal-body" style="padding-top: 0px;">


        <!-- All serverside validation on top and client side validation below input -->
        <div *ngIf="formErrors[0].msg" class="alert alert-danger alert-dismissible"
          style="background-color: #ffe4e1 !important;" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <!-- {{formErrors[0].msg}} -->
          <div *ngFor="let item of formErrors">
            <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small">{{item.msg}}</li>
          </div>
        </div>

        <!-- https://www.youtube.com/watch?v=Wr5urqswiko&list=PLQcBFrxTul9IQFF7fJz7jgdRYJz1OCbll&index=6 -->
        <form [formGroup]="empExpSummaryFormGroup" (ngSubmit)="saveEmpExpSummary()">

          <div class="mb-3" hidden>
            <label for="inputPassword" class="form-label">Id</label>
            <input type="text" class="form-control" formControlName="id" id="id" name="id" />
          </div>
          <div class="mb-3" hidden>
            <label for="inputPassword" class="form-label">EmpID</label>
            <input type="text" class="form-control" formControlName="empid" id="empid" name="empid" />
          </div>

          <!-- ******************************************************************************* -->

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Experience Summary Type<span
                style="color:red;font-size: 14px;">*</span></label>
            <!-- <input type="text" class="form-control" formControlName="empid" id="empid" name="empid" /> -->
            <select id="itemnameempexpsummary" name="itemname" formControlName="itemname" class="form-control">
              <option *ngFor="let item of cmbEmpExpItem" [value]="item.ListID">{{item.Str1}}</option>
            </select>
            <span style="font-size: 100%;" class="text-danger small"
              *ngIf="itemname && itemname?.invalid && itemname?.touched">Experience Summary Type is
              required</span>
          </div>

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Description plain text</label>
            <textarea type="text" class="form-control" style="height:280px" formControlName="descriptionplaintext"
              id="descriptionplaintext" name="descriptionplaintext" rows="3"></textarea>
          </div>

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Notes</label>
            <textarea type="text" class="form-control" style="height:100px" formControlName="notes" id="notes"
              name="notes" rows="3"></textarea>
          </div>

          <div class="modal-footer" style="padding-top: 25px;padding-right: 0px;">
            <button [disabled]="empExpSummaryFormGroup.invalid" type="submit" class="btn btn-primary">Save
              changes</button>
            <button (click)="clearFormErrors()" type="button" id="btnEmpExpSummaryEditCloseModal"
              class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px"
              data-dismiss="modal">Cancel</button>
            <!-- <button (click)="test1(1)" type="button" id="btnEditCloseModal" class="btn btn-outline-dark" >test</button> -->
          </div>


        </form>

      </div>
      <!-- model body -->

      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary">Save changes</button>
      </div> -->

    </div>
    <!-- model content -->

  </div>




  <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
  <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
      data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="btnempExpsummaryEditModalShow" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#empexpsummaryeditmodal" style="visibility: hidden;">

    Launch demo modal
  </button>

</div>

 




























<a (click)="checkAddRole()" type="button" class="btn btn-outline-dark btn-sm btn-add" id="empexpsummaryaddbtn"
    style="color:#006fae; border-color: #959595;margin-top:-36px;float:right;margin-right:-3px;width:100px;"> <span
        aria-hidden="true" class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
    Add Child</a>



<table  id="dt" datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-striped"
style="border:1px solid #bbbbbb; width: 100%; margin-top: 5px !important; ">

<thead class="" style="border:1px solid red">
  <tr class="bg-primary">
    <!-- <th scope="col" hidden>ID</th> -->
    <th scope="col" style="min-width:100px !important;">Item Name</th>
    <th scope="col"  style="min-width:350px !important;">Description</th>
    <!-- <th scope="col" hidden>EmpID</th> -->
    <th scope="col" style="text-align: center !important;-width: 80px !important; padding-left: 30px;padding-right: 30px;">Action</th>
  </tr>
</thead>

 
</table>