
<!--Column visibility Modal -->
<div class="modal fade" id="proSearchColumnsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="padding: 30px;">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Show/Hide Columns</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProjectNo"  (click)="showhidecol(2)" checked="1"/> ProjectNo</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProjectName"  (click)="showhidecol(3)" checked="1"/> ProjectName</label><br>        
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProjectRole"  (click)="showhidecol(4)" checked="1"/> ProjectRole</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="AwardYear"  (click)="showhidecol(5)" /> AwardYear</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProjectManager"  (click)="showhidecol(6)" checked="1"/> ProjectManager</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="OwnerCategory"  (click)="showhidecol(7)" /> OwnerCategory</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ComID"  (click)="showhidecol(8)" /> ComID </label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="PrimaryProjectType"  (click)="showhidecol(9)" checked="1"/> PrimaryProjectType</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="SecondaryProjectType"  (click)="showhidecol(10)" /> SecondaryProjectType</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="Owner"  (click)="showhidecol(11)" checked="1"/> Owner</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="Client"  (click)="showhidecol(12)" checked="1"/> Client</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProjectAgreementNo"  (click)="showhidecol(13)" /> ProjectAgreementNo</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProjectStatus"  (click)="showhidecol(14)" /> ProjectStatus</label><br>
            <label style="cursor: pointer; font-weight: normal;"><input type="checkbox" id="ProposalID"  (click)="showhidecol(15)" /> ProposalID</label><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <a hidden id="btnProSearchColumnsModalShow" data-toggle="modal" data-target="#proSearchColumnsModal" style="visibility: hidden;">
    Launch demo modal
   </a>



<!-- to use seperate child component for modal and call it from parent -->
<!-- <button (click)="showEmpMainChildModal()" >Show child modal Test</button> -->
<!-- <app-emp-edit-modal (refreshDatatable)="loadAngularDatatable()" [empid]="empid"></app-emp-edit-modal> -->





<!-- <div> -->
    <!-- <a  type="button" class="btn btn-outline-dark pull-right btn-sm "
      style="margin-left:4px;margin-bottom:8px;color:#006fae; border-color: #959595;" data-toggle="modal"
      data-target="#empeditmodal"> <span aria-hidden="true" class="glyphicon glyphicon-plus" style="color:#006fae"></span>
      Add new</a> -->
    <!-- <a (click)="clearSearch()" id="clearSearch" style="margin-left:4px;border-color: #959595;color:#006fae;" type="button" id="reset"
      class="btn btn-outline-dark pull-right btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-refresh"
        style="color:#006fae"></span> Reset</a>

    <a data-toggle="modal" data-target="#exampleModal" style="margin-left:4px;border-color: #959595;color:#006fae;" type="button" id="reset"
    class="btn btn-outline-dark pull-right btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-cog"
        style="color:#006fae"></span> columns</a> -->
<!-- </div> -->



<button hidden  (click)="saveSelectedProjects()" id="test" class="btn btn-default" style="border: 1px solid grey;float: right;margin-right: 92px;margin-top: 8px; visibility:visible;">Save Selected Projects</button>




<!-- <h2 style="margin-bottom: 5px;font-weight: bold;color: rgb(51, 51, 51);margin-top: 10px;">Project Search</h2> -->

<div class="row" style="width:1280px">
    <div class="col-md-7">
        <h2 style="margin-bottom: 5px;margin-left:15px;font-weight: bold;color: rgb(51, 51, 51);margin-top: 10px;">
            Project Search</h2>
    </div>
    <!-- <div class="col-md-5">
      <a (click)="clearSearch()"
        style="margin-left:4px;border-color: #959595;color:#006fae;margin-right: auto; margin-top: 12px;" type="button"
        id="reset" class="btn btn-outline-dark btn-sm pull-right"><span aria-hidden="true"
          class="glyphicon glyphicon-refresh" style="color:#006fae"></span> Reset</a>
  
      <a data-toggle="modal" data-target="#exampleModal" style="margin-left:4px;border-color: #959595;color:#006fae;margin-top: 12px;"
        type="button" id="reset" class="btn btn-outline-dark btn-sm pull-right"><span aria-hidden="true"
          class="glyphicon glyphicon-cog" style="color:#006fae"></span> Columns</a>
    </div> -->
</div>



<div class="container" id="prosearchcontainer" style="background-color: #f1f3f4;border:1px solid #337ab7; padding: 5px; margin: 0px;width:100%">



      <!-- LOADING IMAGE DIV  -->

        <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                    background-color: transparent;
                                    opacity:1;
                                    position: absolute;
                                    z-index: 2;
                                    margin-left: 0%;
                                    margin-right: 0%;
                                    margin-top: 0%;
                                    margin-bottom: 0%;
                                    height: 84.5%;
                                    padding-top: 60px;">
          <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
            src="/assets/images/loading.gif" />
        </div>-->


      <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
            background-color: transparent;
            opacity:.75;
            position: absolute;
            z-index: 3;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 0%;
            margin-bottom: 0%;
            height: 84.5%;
            left: 90px;
            padding-top: 52px;text-align: center;">
        <img class="imgloading" style="padding-left:72px;display: block; margin-left: auto;margin-right: auto;width: 185px;"
          src="/assets/images/loading.gif" />
      </div> -->

    <div *ngIf="loading2" class="loading-container" style="
          position:absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
          height:90%;
          margin-top: 80px;
          width:100%;
          z-index: 2;">
        <img class="imgloading"
            style=" margin-left: 47%; margin-right: auto;display: block;margin-top: 112px;width:8%;padding-left: 20px;"
            src="/assets/images/loading.gif" />
    </div>
    <!-- END LOADING IMAGE DIV  -->

      <!-- END LOADING IMAGE DIV  -->



    <!-- Search form -->
    <!-- =================================================================================================== -->

    <div style="border: 1px solid #bbbbbb;">


        <input type="text" id="prohiddenid" hidden />


        <!-- TABLE BODY - Extra div for Styling Table Div -->
        <div class="table-body" style="padding:7px;padding-top: 8px; max-width:1210px">

            <!-- SEARCH FORM DIV -->
            <!-- <div id="prosrccombo" class="container-fluid"
                style="padding-right:18px;padding-bottom:12px;padding-top:15px;"> -->
            <div id="prosrccombo" class="container-fluid"
                style="padding-right:0px;padding-left:0px;padding-bottom:5px;padding-top:15px;">


                <!-- <form class="form-horizontal" id="srcform"> -->
                <!-- **NOTE Cannot use form here conflicts with edit modal & creates problem with angular dt -->
                <!-- but use class="form-horizontal" in div for styling -->
                <div class="form-horizontal" id="srcform">

                    <div class="col-xs-4">

                        <div class="form-group">
                            <label class="control-label col-sm-5">Company</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="ComID" id="srcComID"
                                    [(ngModel)]="searchcomid">
                                    <!-- <option v-for="item in lstComID" :value="item.ComID">{{ item.CompanyName  }}</option> -->
                                    <option *ngFor="let item of CmbComMain" [value]="item.ComID">{{item.CompanyName}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-5">Primary project type</label>
                            <div class="col-md-7">
                                <select id="srcPrimaryProjectType" [(ngModel)]="searchprimaryprojecttype"
                                    class="form-control form-control-sm">
                                    <option *ngFor="let item of CmbProProjectType" [value]="item.ListID">{{item.Str1}}
                                    </option>
                                </select>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-sm-5">Employee</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="EmpID" id="srcEmpID"
                                    [(ngModel)]="searchempid">
                                    <!-- <option v-for="item in lstEmpID" :value="item.EmpID">{{item.EmployeeID  }}</option> -->
                                    <option *ngFor="let item of CmbEmpMain" [value]="item.EmpID">{{item.EmployeeID}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5">Emp. project role</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="EmpProjectRole"
                                    [(ngModel)]="searchempprojectrole" id="srcEmpProjectRole">
                                    <!-- <option v-for="item in lstEmpProjectRole" :value="item.ListID">{{item.Str1  }}</option> -->
                                    <option *ngFor="let item of CmbEmpProjectRole" [value]="item.ListID">{{item.Str1}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label class="control-label col-sm-5">Secondary Proj. Type</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="SecondaryProjectType" id="srcSecondaryProjectType" >
                                <option v-for="item in lstProjectType" :value="item.ListID">{{item.Str1  }}</option>
                                </select>
                             </div>
                         </div>   -->



                            <!-- https://www.youtube.com/watch?v=q5jNAhYcHEI -->
                            <!-- // code for dynamically check Bootstrap multiselect from database SecondaryProjectType value
                            var items=this.formdata.SecondaryProjectType;
                            $.each(items.split(','), function(idx, val) {
                                // $("#multiproeditsecproject option[value='"+val+"']").attr("selected", "selected");
                                $("#multiproeditsecproject option[value='"+val+"']").prop('selected', true); // use prop for latest jquery
                                $("#multiproeditsecproject").multiselect('rebuild'); // **IMPORTANT
                            }); -->
 
                            <!-- WORKING https://davidstutz.github.io/bootstrap-multiselect/ -->
                            <!-- using js and css file in assets from https://colorlib.com/wp/template/multiselect-01/-->
                        <div class="form-group" style="display: none;">
                            <label class="control-label col-sm-5">SecondaryProjectType</label>
                            <div class="col-md-7">
                                <!-- <strong>Select Language:</strong> -->
                                <!-- <select id="multiple-checkboxes" style="width: 222px !important;background-color: white !important;"
                                    multiple="multiple" (click)="reloadPage()" class="reloadPage"> -->
                                    <select id="multiple-checkboxes" style="width: 222px !important;background-color: white !important;"
                                    multiple="multiple" class="reloadPage">
                                    <!-- https://stackoverflow.com/questions/68133144/bootstrap-multiselect-search-get-value-from-database -->
                                    <!-- <option value="php">PHP</option>
                                                            <option value="javascript">JavaScript</option>
                                                            <option value="java">Java</option>
                                                            <option value="sql">SQL</option>
                                                            <option value="jquery">This is a clean and simplistic free multiselect dropdown</option>
                                                            <option value=".net">.Net</option> -->
                                    <!-- <option *ngFor="let item of CmbProProjectType" [value]="item.ListID">{{item.Str1}}</option> -->
                        
                                </select>
                            </div>
                        </div>


                        <!-- <div class="">
                            <strong>Select Language:</strong>
                            <select id="multiple-checkboxes" multiple="multiple">
                                <option value="php">PHP</option>
                                <option value="javascript">JavaScript</option>
                                <option value="java">Java</option>
                                <option value="sql">SQL</option>
                                <option value="jquery">Jquery</option>
                                <option value=".net">.Net</option>
                            </select>
                        </div> -->


                        <!-- hidden input for storing multi selected items used for search-->
                        <div class="form-group"  style="display: none;">
                            <label class="control-label col-sm-5"></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="multiSelectedIds" style="width: 222px;background-color: #f3f3f3;">
                            </div>
                        </div>

 
                        <!-- cannot and shouldnot use dromdownclose on click input for multi select -->
                        <!-- (click)="handleClick($event, select)" #select -->
                        <!-- (click)="toggleDropdown(mySelect)"-->
                        <!-- (focus)="onFocus()"  -->
                        <!-- ng multiselect with chkbox, selectedItems automatically stores the ids in array
                         ***************************************************************************************-->
                        <div class="form-group">
                            <label class="control-label col-sm-5">SecondaryProjectType</label>
                            <div class="col-md-7">
                                <ng-select
                                        class="ngselect_prosearch_2ndryprotype"
                                        [items]="CmbProProjectTypeMulti"
                                        [multiple]="true"
                                        placeholder="select value"
                                        bindLabel="Str1"
                                        [searchable]="true"
                                        [selectableGroup]="true"
                                        [closeOnSelect]="false"
                                        bindValue="ListID"
                                        [dropdownPosition]="'bottom'"
                                        [(ngModel)]="selectedItems"
                                        >
            
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.Str1 }}
                                    </ng-template>
                                </ng-select>
                             <!-- <button (click)="test2()">test</button> -->
                            </div>
                        </div>
            







                    </div>
                    <!-- end col 1 -->





                    <div class="col-xs-4">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Project role</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="ProjectRole" id="srcProjectRole"
                                    [(ngModel)]="searchprojectrole">
                                    <!-- <option v-for="item in lstProPRole" :value="item.ListID">{{item.Str1  }}</option> -->
                                    <option *ngFor="let item of CmbProPRole" [value]="item.ListID">{{item.Str1}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Owner category</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="OwnerCategory" id="srcOwnerCategory"
                                    [(ngModel)]="searchownercategory">
                                    <!-- <option v-for="item in lstProOCategory" :value="item.ListID">{{ item.Str1  }}</option> -->
                                    <option *ngFor="let item of CmbProOCategory" [value]="item.ListID">{{item.Str1}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-4">Owner</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="Owner" id="srcOwner"
                                    [(ngModel)]="searchowner">
                                    <!-- <option v-for="item in lstCAOID" :value="item.CAOID">{{ item.Name  }}</option> -->
                                    <option *ngFor="let item of CmbCaoMain" [value]="item.CAOID">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-4">Client</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="Client" id="srcClient"
                                    [(ngModel)]="searchclient">
                                    <!-- <option v-for="item in lstCAOID" :value="item.CAOID">{{ item.Name  }}</option> -->
                                    <option *ngFor="let item of CmbCaoMain" [value]="item.CAOID">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                                <label class="control-label col-sm-4 ">Experience</label>
                                <div class="col-md-7">
                                <input type="text" class="form-control">
                                </div>
                        </div> -->

                        <div class="form-group">
                            <label class="control-label col-sm-4">Project status</label>
                            <div class="col-md-7">
                                <select type="select" class="form-control " name="ProjectStatus" id="srcProjectStatus"
                                    [(ngModel)]="searchprojectstatus">
                                    <!-- <option v-for="item in lstProStatus" :value="item.ListID">{{item.Str1  }}</option> -->
                                    <option *ngFor="let item of CmbProStatus" [value]="item.ListID">{{item.Str1}}
                                    </option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <!--  end co2  -->



                    <div class="col-xs-4" style="padding-left:0px;">


                        <div class="form-group">
                            <label class="control-label col-sm-5 ">Firm fee($1,000)</label>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="form-group col-xs-5" style="margin-bottom:0px;">
                                        <select type="select" class="form-control" name="FirmFee"
                                            id="srcFirmFeeOperator" [(ngModel)]="searchfirmfeeoperator">
                                            <option> </option>
                                            <option> &lt; </option>
                                            <option>&lt;=</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&gt;</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-7" style="margin-bottom:0px;">
                                        <input type="text" id="srcFirmFee" class="form-control"
                                            style="margin-left:5px;width:160px;" [(ngModel)]="searchfirmfee">
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        <div class="form-group">
                            <label class="control-label col-sm-5 ">Const. cost($1,000)</label>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="form-group col-xs-5" style="margin-bottom:0px;">
                                        <select type="select" class="form-control" name="ConstCost"
                                            id="srcConstCostOperator" [(ngModel)]="searchconstcostoperator">
                                            <option> </option>
                                            <option> &lt; </option>
                                            <option>&lt;=</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&gt;</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-7" style="margin-bottom:0px;">
                                        <input type="text" id="srcConstCost" class="form-control"
                                            style="margin-left:5px;width:160px;" [(ngModel)]="searchconstcost">
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-sm-5 ">Experience start date</label>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="form-group col-xs-5" style="margin-bottom:0px;">
                                        <select type="select" class="form-control" name="ExpStartDate"
                                            id="srcExpStartDateOperator" [(ngModel)]="searchexpstartdateoperator">
                                            <option></option>
                                            <option> &lt; </option>
                                            <option>&lt;=</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&gt;</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-7" style="margin-bottom:0px;">
                                        <input type="date" id="srcExpStartDate" class="form-control"
                                            style="margin-left:5px;width:160px" [(ngModel)]="searchexpstartdate">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-5 ">Experience end date</label>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="form-group col-xs-5" style="margin-bottom:0px;">
                                        <select type="select" class="form-control" name="ExpEndDate"
                                            id="srcExpEndDateOperator" [(ngModel)]="searchexpenddateoperator">
                                            <option></option>
                                            <option> &lt; </option>
                                            <option>&lt;=</option>
                                            <option>=</option>
                                            <option>&gt;=</option>
                                            <option>&gt;</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-7" style="margin-bottom:0px;">
                                        <input type="date" id="srcExpEndDate" class="form-control"
                                            style="margin-left:5px;width:160px;" [(ngModel)]="searchexpenddate">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" style="line-height:1px;">
                            <div class="col-sm-1">
                                <!-- note: ":true-value="1" should be used to tellchkbox for which value it should be checked -->
                                <input :true-value="1" type="checkbox" name="ExcludeOngoingProjects"
                                    id="srcExcludeOngoingProjects" style="margin-top:9px;"  [(ngModel)]="searchexcludeongoingprojects"/>
                            </div>
                            <label for="srcExcludeOngoingProjects" class="control-label col-sm-8"
                                style="padding-left:0px;padding-top:15px; cursor:pointer">Exclude Ongoing
                                Projects</label>
                        </div>



                        <div class="form-group" style="margin-top:0px;line-height:1px;">
                            <div class="col-sm-1">
                                <!-- note: ":true-value="1" should be used to tellchkbox for which value it should be checked -->
                                <input :true-value="1" type="checkbox" name="ExcludeIEProjects"
                                    id="srcExcludeIEProjects" style="margin-top:9px;"   [(ngModel)]="searchexcludeieprojects"/>
                            </div>
                            <label for="srcExcludeIEProjects" class="control-label col-sm-8"
                                style="padding-left:0px;padding-top:15px; cursor:pointer">Exclude IE projects</label>
                        </div>


                            

                </div>
                <!--  end co3 -->




                </div>
                <!-- </form> -->

                <div style="float: right; margin-top: 0px;padding-right: 18px;">
                        
                    <!-- hidden btn to clearMultiSelect called in index.html -->
                    <button hidden class="btn btn-outline-dark  btn-sm " id="clearMultiSelect"
                        style="width:0px;visibility: hidden;margin-top: 10px;;margin-top: 0px; border: 1px solid #959595;"
                        ></button>
                      
                    <!-- <button  class="btn btn-outline-dark  btn-sm " id="clearMultiSelect"
                        style="width:0px;margin-top: 10px;;margin-top: 0px; border: 1px solid #959595;"
                        >testLink</button>     -->

                    <!-- <button hidden class="btn btn-outline-dark  btn-sm " id="clearMultiSelect"
                        style="width:120px;margin-top: 10px;;margin-top: 0px; border: 1px solid #959595;"
                        >clear multiselect</button> -->

                    <button class="btn btn-primary  btn-sm "
                        style="width:100px;margin-top: 10px; ;margin-top: 0px;margin-left: 8px;margin-right: 8px;"
                        (click)="search()">Search</button>                        
                    <button class="btn btn-outline-dark  btn-sm "
                        style="margin-top: 10px;;margin-top: 0px; border: 1px solid #959595;"
                        (click)="clearSearch()">Clear Search</button>
                        

                </div>

            </div>
            <!-- end prosrccombo div container-fluid -->

            <!-- end Search prosrccombo ************************************************ -->

        </div>
        <!-- end panel body -->
    </div>
    <!-- end panel -->


    <!-- <br /> -->


    <a (click)="clearSearch()" type="button" class="btn btn-outline-dark btn-sm btn-add"  
    style="background-color: white;color:#006fae;z-index: 100;position: absolute; border-radius: 0px !important; margin-left: 1209px; border-color: #959595;margin-top:11px;float:right;margin-right:2px;width:29px; height:30px !important;padding-top: 7px;"> <span aria-hidden="true"
      class="glyphicon glyphicon-remove" style="color:#767676 ;font-weight: lighter;margin-right: 3px;"></span>
    </a>


    <!-- Datatable -->
    <!-- =================================================================================================== -->
    <table id="dt" datatable [dtOptions]="dtOptions" class="dtprosearch row-border hover table table-bordered table-striped"
        style=" width: 100%; cursor: default;">
    
        <!-- thead is used twice because the header was not visible since datatable visibility turned off 
          so that data does not repeat. We need it to export in excel. This affects thead visibility. So used twice to make visible  -->
        <thead class="" style="border:1px solid red">
            <tr class="bg-primary">
    
                <th  style="min-width: 15px;max-width: 15px;"><input type="checkbox" style="height: 15px;margin: 0;padding: 0; " name="websitecheck"
                        id="headercheckbox" (click)="checkuncheckall()"></th>
    
                        <!-- <th hidden scope="col">ProjectID</th>
                        <th scope="col" style="width: 80px;">Project no.</th>
                        <th scope="col" style="width: 310px;">Project name</th>
                        <th  scope="col" style="width: 115px;">Project role</th>
                        <th hidden scope="col" style="width: 80px;" >Award year</th>
                        <th scope="col" style="width: 122px;">Project Manager</th>
                        <th hidden scope="col">Owner category</th>
                        <th hidden scope="col">Company</th>
                        <th scope="col" style="width: 200px;">Primary project type</th>
                        <th hidden scope="col">Secondary project type</th>
                        <th scope="col" style="width: 140px;">Owner</th>
                        <th scope="col" style="width: 120px;">Client</th>
                        <th hidden scope="col">Project agreement no.</th>
                        <th hidden scope="col">Project status</th>
                        <th hidden scope="col">ProposalID</th> -->
                        
                        <!-- after show/hide cols -->
                        <!-- <th hidden scope="col">ProjectID</th>
                        <th scope="col" style="min-width: 70px;max-width: 70px;">Project no.</th>
                        <th  scope="col" style="min-width: 260px; max-width: 260px;">Project name</th>
                        <th  scope="col" style="min-width: 100px;max-width: 100px;">Project role</th>
                        <th  scope="col" style="min-width: 80px;width: 80px;" >Award year</th>
                        <th scope="col" style="min-width: 90px;max-width: 90px;">Project mgr.</th>
                        <th  scope="col" style="min-width: 120px;max-width: 120px;">Owner category</th>
                        <th  scope="col" style="min-width: 140px;max-width: 140px;">Company</th>
                        <th scope="col" style="min-width: 140px; max-width: 140px">Primary project type</th>
                        <th  scope="col" style="min-width: 160px; max-width: 160px">Secondary project type</th>
                        <th scope="col" style="min-width: 80px;max-width: 80px">Owner</th>
                        <th scope="col" style="min-width: 80px;max-width: 80px">Client</th>
                        <th  scope="col" style="min-width: 150px; max-width: 150px;">Project agreement no.</th>
                        <th  scope="col" style="min-width: 100px;max-width: 100px">Project status</th>
                        <th  scope="col" style="min-width: 100px;max-width: 100px">ProposalID</th> -->


                        <th style="visibility: visible;min-width: 0px;max-width: 0px;" scope="col"></th>
                        <th  scope="col" style="min-width: 70px;max-width: 70px;">Project no.</th>
                        <th  scope="col" style="min-width: 320px; max-width: 320px;">Project name</th>
                        <th  scope="col" style="min-width: 100px;max-width: 100px;">Project role</th>
                        <th  scope="col" style="min-width: 80px;width: 80px;">Award year</th>
                        <th  scope="col" style="min-width: 110px;max-width: 110px;">Project manager</th>
                        <th  scope="col" style="min-width: 120px;max-width: 120px;">Owner category</th>
                        <th  scope="col" style="min-width: 140px;max-width: 140px;">Company</th>
                        <th  scope="col" style="min-width: 130px; max-width: 130px">Primary project type</th>
                        <th  scope="col" style="min-width: 160px; max-width: 160px">Secondary project type</th>
                        <th  scope="col" style="min-width: 40px;max-width: 40px">Owner</th>
                        <th  scope="col" style="min-width: 40px;max-width: 40px">Client</th>
                        <th  scope="col" style="min-width: 150px; max-width: 150px;">Project agreement no.</th>
                        <th  scope="col" style="min-width: 100px;max-width: 100px">Project status</th>
                        <th  scope="col" style="min-width: 100px;max-width: 100px">ProposalID</th>



           



        
                        <!-- <th hidden scope="col" style="text-align: center;width: 70px;">Action</th> -->
            </tr>
        </thead>
    </table>

    <script>


    </script>
