

label{
    font-size: 13px;
    text-align: left !important;
    color: #545454;
}
.form-group {
    margin-bottom: 5px;
}
.col-md-7{
    padding-left: 0px !important;
}
.form-control {
   border-radius: 3px;
     /* box-shadow: none;
    border-color: #d2d6de; */
    height: 30px;
    border-color: #bfbfbf;
}

/* to line up btns */
/* not working here. moved to global index.html */
.dataTables_length{
    float:left !important;
    /* margin-left: 20px !important; */
}
.dt-buttons{
    float:right !important;
    /* margin-left: 20px !important; */
}
#dt.table>tbody>tr>td {
    padding: 4px !important;
    line-height: 1.0;
    vertical-align: top;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #b1b1b1;
}


::ng-deep .dataTables_filter{
    margin-left: 502px !important;
    padding-top: 7px !important;

}


