label{
    margin-top: 32px;
    margin-bottom: 5px;
    margin-left: 1px;
    font-size: 13px;
    color: #444444;
}
.form-control{
    border-color: #a6a6a6;
    border-radius: 2px;
    height: 45px;
}