.dl-horizontal dt{
    text-align: left !important;
    font-weight:500;
    /* color: #4d4d4d; */
    
    font-size: 14px;
    margin-right: 20px;
     width: 185px;
    }
    .dl-horizontal dd {
        margin-left: 160px !important;
    }

    dd{
        height: 26px;
        font-size: 14px !important;
        /* color: black; */
        color: #7d7d7d;
       
    }