<!-- <p>pro-team works!</p> -->


<!--Column visibility Modal -->
<div class="modal fade" id="EmpProjectsColumnsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding: 30px;">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Show/Hide Columns</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="disProjectNo" style="cursor: pointer;"  (click)="showhidecol(0)" checked="1"/> ProjectNo</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="disEmployeeID"  (click)="showhidecol(1)" />EmployeeID</label><br>        
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="DutiesAndResponsibilities"  (click)="showhidecol(2)" checked="1"/> DutiesAndResponsibilities</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="EmpProjectRole"  (click)="showhidecol(3)" />EmpProjectRole</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="SecProjectRole"  (click)="showhidecol(4)"/>SecProjectRole</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="DurationFrom"  (click)="showhidecol(5)" />DurationFrom</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="DurationTo"  (click)="showhidecol(6)" />DurationTo </label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="MonthsOfExp"  (click)="showhidecol(7)"/>MonthsOfExp</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="Notes"  (click)="showhidecol(8)" />Notes</label><br>
          <label style="cursor: pointer; font-weight: normal;margin-top: 8px;"><input type="checkbox" id="Action"  (click)="showhidecol(9)" checked="1" />Action Column</label><br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<a hidden id="btnEmpProjectsColumnsModalShow" data-toggle="modal" data-target="#EmpProjectsColumnsModal" style="visibility: hidden;">
 Launch demo modal
</a>













<!-- Start Detail Modal -->
<!-- ====================================================================================================== -->


<div class="modal fade" id="proteamdetailmodal" tabindex="-1" role="dialog"
  aria-labelledby="proteamdetailmodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:820px;">
    <div class="modal-content" style="padding:40px;padding-top:30px;padding-bottom:10px;background-color: #dfdfdf;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="proteamdetailmodalLabel"
          style="font-weight: bold;font-size: 26px;padding-bottom: 0px;">View Project Team
          </h5>

      </div>
      <!-- LOADING IMAGE DIV  -->
      <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                  background-color: transparent;
                                  opacity:1;
                                  position: absolute;
                                  z-index: 2;
                                  margin-left: 0%;
                                  margin-right: 0%;
                                  margin-top: 0%;
                                  margin-bottom: 0%;
                                  height: 84.5%;
                                  padding-top: 60px;">
        <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
          src="/assets/images/loading.gif" />
      </div> -->

      <div *ngIf="loading2" class="loading-container" style="
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            height:90%;
            margin-top: 80px;
            width:100%;
            z-index: 2;">
        <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 228px;width:15%"
          src="/assets/images/loading.gif" />
      </div>

      <!-- END LOADING IMAGE DIV  -->





      <!-- ************************************************************************************** -->
      <!-- ************************************************************************************** -->

      <div class="modal-body" style="padding-top: 0px; margin-top: -20px;">


        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ID</label>
          <input type="text" value="{{proteam.ID}}" class="form-control" id="id" name="id" />
        </div>
        <div class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ProjectID</label>
          <input type="text" value="{{proteam.ProjectID}}" class="form-control" id="projectid" name="projectid" />
        </div>


        <div class="row">

          <div class="col-sm-8">

            <div class="mb-3" >
              <label for="inputPassword" class="form-label">EmpID</label>
              <input type="text" value="{{proteam.disEmployeeID}}" class="form-control" id="empid" name="empid" />
            </div>
            <!-- <div class="mb-3">
              <label for="inputPassword" class="form-label">Project no.</label>
              <input type="text" disabled value="{{proteam.ProjectNo}}" class="form-control" id="projectno"
                name="projectno" />
            </div> -->
            <!-- <div class="mb-3">
              <label for="inputPassword" class="form-label">Project name</label>
              <input type="text" disabled value="{{proteam.ProjectName}}" class="form-control" id="empid"
                name="empid" />
            </div> -->
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Employee project role</label>
              <input type="text" disabled value="{{proteam.disEmpProjectRole}}" class="form-control" id="empprojectrole"
                name="empprojectrole" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Secondary project role</label>
              <input type="text" disabled value="{{proteam.disSecProjectRole}}" class="form-control" id="secprojectrole"
                name="secprojectrole" />
            </div>

          </div>



          <div class="col-sm-4">

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Duration from</label>
              <input type="text" disabled value='{{datePipe.transform(proteam.DurationFrom, "MM/dd/yyyy")}}' class="form-control" id="durationfrom"
                name="durationfrom" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Duration to</label>
                <input type="text" disabled value='{{datePipe.transform(proteam.DurationTo, "MM/dd/yyyy")}}' class="form-control" id="durationto"
                name="durationto" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label" style="cursor:pointer !important;">Months of
                experience</label>
              <input disabled value="{{proteam.MonthsOfExp}}" type="text" class="form-control " id="monthsofexp"
                name="monthsofexp" />
            </div>

          </div>

        </div>

 

        <!-- <div class="mb-3">
          <label for="inputPassword" class="form-label">Duties amd responsibilities</label>
          <textarea type="text" disabled value="{{proteam.DutiesAndResponsibilities}}" class="form-control"
            style="height:140px" id="dutiesandresponsibilities" name="dutiesandresponsibilities" rows="3"></textarea>
        </div> -->

        <!-- <div class="mb-3">
          <label  class="form-label">Duties amd responsibilities</label>
          <editor  [init]="editorConfig2"  id="dutiesandresponsibilities"  name="dutiesandresponsibilities"></editor>
        </div> -->

        <!-- 2025 form is used because withut form tinymce editor not showing content -->
        <form [formGroup]="proTeamFormGroup" (ngSubmit)="saveProTeam()">

        <div class="mb-3">
          <label for="inputPassword" class="form-label">Duties amd responsibilities</label>
          <editor [disabled]="true" [init]="editorConfig2" formControlName="dutiesandresponsibilities"></editor>
        </div>
      </form>
        
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Notes</label>
          <!-- <input type="text" class="form-control " formControlName="notes" id="notes"
                name="notes" /> -->
          <textarea type="text" disabled value="x" class="form-control" style="height:45px" id="notes"
            name="notes" rows="3"></textarea>
        </div>


      </div>

      <div class="modal-footer" style="margin-top: -10px;margin-right: 0px;">
        <button type="button" id="proteamdetailmodal" class="btn btn-outline-dark"
          style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      </div>



    </div>
    <!-- end modal body ******************************************************************************* -->
    <!-- ******************************************************************************* -->


  </div>

  <!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
  <!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="proteamdetailmodalShow" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#proteamdetailmodal" style="visibility: hidden;">
    Launch demo modal
  </button>


</div><!-- end Detail Modal -->



















  <!-- Edit Modal -->
<!-- ====================================================================================================== -->


<div class="modal fade" id="empprojectseditmodal" tabindex="-1" role="dialog" aria-labelledby="empprojectseditmodalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document" style="width:800px;">
  <div class="modal-content" style="padding:40px;padding-bottom: 5px;padding-top:25px;background-color: #dfdfdf;">
    <div class="modal-header">
      <button (click)="clearFormErrors()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>      
      <!-- <h5 class="modal-title" id="empeditmodalLabel" style="font-weight: bold;font-size: 26px;">Project Team</h5> -->
      <h5 *ngIf="modalClicked=='editModal'" class="modal-title" id="usereditmodalLabel" style="font-weight: bold;font-size: 26px;">Edit Project Team
      </h5>
      <h5 *ngIf="modalClicked=='addModal'" class="modal-title" id="usereditmodalLabel" style="font-weight: bold;font-size: 26px;">Add Project Team
   </h5>
    </div>
    <!-- LOADING IMAGE DIV  -->
    <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                  background-color: transparent;
                                  opacity:1;
                                  position: absolute;
                                  z-index: 2;
                                  margin-left: 0%;
                                  margin-right: 0%;
                                  margin-top: 0%;
                                  margin-bottom: 0%;
                                  height: 84.5%;
                                  padding-top: 60px;">
      <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
        src="/assets/images/loading.gif" />
    </div> -->

    <div *ngIf="loading2" class="loading-container" style="
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:90%;
        margin-top: 80px;
        width:100%;
        z-index: 2;">
      <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 228px;width:15%"
        src="/assets/images/loading.gif" />
    </div>
    <!-- END LOADING IMAGE DIV  -->

    <div class="modal-body" style="padding-top: 0px; margin-top: -20px;">


      <!-- All serverside validation on top and client side validation below input -->
      <div *ngIf="formErrors[0].msg" class="alert alert-danger alert-dismissible"style="background-color: #ffe4e1 !important;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <!-- {{formErrors[0].msg}} -->
        <div *ngFor="let item of formErrors">
          <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small">{{item.msg}}</li>
        </div>
      </div>

      <!-- https://www.youtube.com/watch?v=Wr5urqswiko&list=PLQcBFrxTul9IQFF7fJz7jgdRYJz1OCbll&index=6 -->
      <form [formGroup]="proTeamFormGroup" (ngSubmit)="saveProTeam()">
     
        
        <!-- <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->

        

        <div  class="mb-3" hidden>
          <label for="inputPassword" class="form-label">Id</label>
            <input type="text" class="form-control" formControlName="id" id="id" name="id" />
        </div>
        <div  class="mb-3" hidden>
          <label for="inputPassword" class="form-label">ProjectID</label>
            <input type="text" class="form-control" formControlName="projectid" id="projectid" name="projectid" />
        </div>








        <!-- ******************************************************************************* -->

        <div class="row">
          <div class="col-sm-8">
        
            <div class="mb-3" >
              <label for="inputPassword" class="form-label">EmpID<span style="color:red;font-size: 14px;">*</span></label>
              <!-- <input type="text" class="form-control" formControlName="empid" id="empid" name="empid" /> -->
              <select id="proteamempid" name="proteamempid" formControlName="empid" class="form-control">
                <option *ngFor="let item of CmbEmpMain" [value]="item.EmpID">{{item.EmployeeID}}</option>
              </select>
              <span style="font-size: 100%;" class="text-danger small"
                *ngIf="empid && empid?.invalid && empid?.touched">EmployeeID is
                required</span>
            </div>
        

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Employee Project Role<span style="color:red;font-size: 14px;">*</span></label>
              <select id="empprojectrole" name="empprojectrole" formControlName="empprojectrole" class="form-control">
                <option  *ngFor="let item of CmbEmpProjectRole" [value]="item.ListID">{{item.Str1}}</option>
              </select>
              <span style="font-size: 100%;" class="text-danger small"
                *ngIf="empprojectrole && empprojectrole?.invalid && empprojectrole?.touched">Project role field is
                required</span>
            </div>
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Secondary project role</label>
              <select id="secprojectrole" name="secprojectrole" formControlName="secprojectrole" class="form-control">
                <option *ngFor="let item of CmbEmpProjectRole" [value]="item.ListID">{{item.Str1}}</option>
              </select>
            </div>
        
          </div>
        
          <div class="col-sm-4">
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Duration from</label>
              <input type="date" class="form-control" formControlName="durationfrom" id="durationfrom" name="durationfrom"
                />
            </div>

            <div class="mb-3" >
              <label for="inputPassword" class="form-label">Duration to</label>
              <input type="date" class="form-control" formControlName="durationto" id="durationto" name="durationto"
                />
            </div>
        
            <!-- <div class="mb-3">
              <label for="inputPassword" class="form-label">Months of experience</label>
              <input [disabled]="test" type="text" class="form-control " formControlName="monthsofexp" id="monthsofexp"
                name="monthsofexp" />
            </div> -->
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Months of experience<span style="font-weight: normal;"> (Auto)</span></label>
              <input type="text"  class="form-control " formControlName="monthsofexp" id="monthsofexpproteam"
                name="monthsofexp" />
            </div>
        
          </div>


        </div>

 <!-- ******************************************************************************* -->


        <!-- <div class="mb-3">
          <label for="inputPassword" class="form-label">Duties amd responsibilities</label>
              <textarea type="text"  class="form-control" style="height:140px"  formControlName="dutiesandresponsibilities" id="dutiesandresponsibilities" name="dutiesandresponsibilities"
              rows="3" ></textarea>
        </div> -->

        <div class="mb-3">
          <label for="inputPassword" class="form-label">Duties amd responsibilities</label>
          <editor [init]="editorConfig" formControlName="dutiesandresponsibilities"></editor>
        </div>


        <div class="mb-3">
          <label for="inputPassword" class="form-label">Notes</label>
            <!-- <input type="text" class="form-control " formControlName="notes" id="notes"
              name="notes" /> -->
              <textarea type="text"  class="form-control" style="height:45px"  formControlName="notes" id="notes" name="notes"
              rows="3" ></textarea>              
        </div>








        <div  class="modal-footer" style="padding-top: 25px;padding-right: 0px;">
           <button [disabled]="proTeamFormGroup.invalid" type="submit" class="btn btn-primary">Save changes</button>
            <button (click)="clearFormErrors()" type="button" id="btnProTeamEditCloseModal" class="btn btn-outline-dark"
            style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Cancel</button>
          <!-- <button (click)="test1(1)" type="button" id="btnEditCloseModal" class="btn btn-outline-dark" >test</button> -->
        </div>


      </form>
    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary">Save changes</button>
      </div> -->

  </div>
</div>



<!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
<!-- <button hidden id="btnEmpEditModalShow" (click)="showEmpEditModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empeditmodal" style="visibility: hidden;"> -->
  <button hidden id="btnEmpProjectsEditModalShow"  type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empprojectseditmodal" style="visibility: hidden;">
  Launch demo modal
</button>

</div>






















 





  <!-- Datatable -->
  <!-- =================================================================================================== -->
    <!-- <button style="float: left;margin-top: 4px;">Add</button> -->
    <!-- <a (click)="showProTeamAddModal()" type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#proteameditmodal" 
    style="color:#006fae; border-color: #959595;margin-top:-63px;margin-left:1152px;margin-right:0px;width:80px;"> <span aria-hidden="true"
      class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
    Add</a> -->

    <!-- removed data-toggle="modal" data-target="#proteameditmodal" to prevent auto open modal after check role fail  -->
    <a (click)="showProTeamAddModal()" type="button" class="btn btn-outline-dark btn-sm btn-add"  
    style="color:#006fae;z-index: 100;position: absolute; margin-left: 1072px; border-color: #959595;margin-top:8px;float:right;margin-right:2px;width:155px;height:33px !important; padding-top: 7px;"> <span aria-hidden="true"
      class="glyphicon glyphicon-plus" style="color: rgb(9, 85, 166) ;margin-right: 3px; "></span>
    Add Employee Project</a>
 


  <table  id="dt" datatable [dtOptions]="dtOptions" class="dt_emp_projects row-border  hover table table-bordered table-striped"
    style="border:1px solid #bbbbbb; width: 100%; margin-top: 5px !important; ">
  
    <thead class="" style="border:1px solid red">
      <tr class="bg-primary">
        <!-- <th scope="col">id</th> -->
        <!-- <th scope="col">ProjectID</th> -->
        <th scope="col" style="max-width: 80px !important;">ProjectNo</th>
        <!-- <th scope="col">empid</th> -->
        <th scope="col" id="proteamemployeeid" style="max-width: 80px !important;">EmployeeID</th>
        <th scope="col" style="min-width: 650px !important;">Duties and Responsibilities</th>
        <!-- <th hidden scope="col" style="max-width: 130px !important;">EmpProjectRole</th>
        <th hidden scope="col">SecProjectRole</th>        
        <th hidden scope="col" style="max-width: 90px !important;">DurationFrom</th>
        <th hidden scope="col" >DurationTo</th>
        <th hidden scope="col" >MonthsOfExp</th>
        <th hidden scope="col">Notes</th> -->

        <th  scope="col" style="max-width: 130px !important;">EmpProjectRole</th>
        <th  scope="col">SecProjectRole</th>        
        <th  scope="col" style="max-width: 90px !important;">DurationFrom</th>
        <th  scope="col" style="max-width: 90px !important;">DurationTo</th>
        <th  scope="col" style="max-width: 90px !important;">MonthsOfExp</th>
        <th  scope="col">Notes</th>



        <th scope="col" style="text-align: center; min-width:120px !important; max-width:120px !important">Action</th>
      </tr>
    </thead>

    <!-- <tbody style="border:10px solid #c4c4c4 !important">
      <tr *ngFor="let item of proTeamData">
        <td>{{item.disEmployeeID}}</td>
        <td>{{item.disEmpProjectRole}}</td>
        <td>{{item.disSecProjectRole}}</td>
        <td>{{datePipe.transform(item.DurationFrom, "MM/dd/yyyy")}}</td>
        <td>{{datePipe.transform(item.DurationTo, "MM/dd/yyyy")}}</td>
        <td>{{item.MonthsOfExp}}</td>
      
        <td style="text-align: center;">
          <a routerLink="/Prodetail/{{item.projectid}}">Detail</a> |
            <a (click)="showProTeamEditModal(item.ID)" id="test" data-toggle="modal" data-target="#empdegreeeditmodal" class=""
            style="cursor: pointer;">Edit</a> |
          <a (click)="deleteProTeam(item.ID)" id="test" class="" style="cursor: pointer;">Delete</a>
        </td>
      </tr>
    </tbody> -->

  </table>
