/* .dl-horizontal dt {
    text-align: left !important;
    font-weight: 500;
    color: #4d4d4d;
    font-size: 13px;
}

.dl-horizontal dd {
    margin-left: 160px !important;
}

dd {
    height: 25px;
    font-size: 14px !important;

    padding-left: 20px;
    ;
} */

label{
    margin-top: 36px;
    margin-bottom: 2px;
    margin-left: 0px;
    font-size: 13px;
    color: #444444;
    /* color: #0b0b0b; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: normal; */


}
/* #empprojectsdetailmodal .form-control{ */
     .form-control{
    border-color: #a6a6a6;
    /* border-color: #ababab; */
    border-radius: 0px;
    height: 45px;
    background-color: #fff;
    color: grey;
}
textarea,input{
    cursor: default !important;
}



/* increase the size of td to edit duties and responsibilities in proteam */
::ng-deep #dt.dt_emp_projects>tbody>tr>td, #jquerydatatable.table>tbody>tr>td{
    white-space:wrap !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    vertical-align: top;
  }



