  
  <!-- Start Detail Modal -->
<!-- ====================================================================================================== -->


<div class="modal fade" id="empdegreedetailmodal" tabindex="-1" role="dialog"
aria-labelledby="empdegreedetailmodalLabel" aria-hidden="true">
<div class="modal-dialog" role="document" style="width:720px;">
  <div class="modal-content" style="padding:35px;padding-bottom: 15px;background-color: #eeeeee;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="empdegreedetailmodalLabel"
        style="font-weight: bold;font-size: 26px;padding-bottom: 0px;">Employee
        Degree Detail</h5>

    </div>
    <!-- LOADING IMAGE DIV  -->
    <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                background-color: transparent;
                                opacity:1;
                                position: absolute;
                                z-index: 2;
                                margin-left: 0%;
                                margin-right: 0%;
                                margin-top: 0%;
                                margin-bottom: 0%;
                                height: 84.5%;
                                padding-top: 60px;">
      <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
        src="/assets/images/loading.gif" />
    </div> -->

    <div *ngIf="loading2" class="loading-container" style="
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:90%;
        margin-top: 80px;
        width:100%;
        z-index: 2;">
      <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 165px;width:15%"
        src="/assets/images/loading.gif" />
    </div>
    <!-- END LOADING IMAGE DIV  -->





    <!-- ************************************************************************************** -->
    <!-- ************************************************************************************** -->

    <div class="modal-body" style="padding-top: 0px;">


      <div class="mb-3" hidden>
        <label for="inputPassword" class="form-label">ID</label>
        <input type="text" value="{{empdegree.ID}}" class="form-control" id="id" name="id" />
      </div>
      <div class="mb-3" hidden>
        <label for="inputPassword" class="form-label">EmpID</label>
        <input type="text" value="{{empdegree.EmpID}}" class="form-control" id="projectid" name="projectid" />
      </div>

      <div class="row">

        <div class="col-sm-7">

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Degree</label>
            <input type="text" disabled value="{{empdegree.disDegree}}" class="form-control" id="degree"
              name="degree" />
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Degree field</label>
            <input type="text" disabled value="{{empdegree.DegreeField}}" class="form-control" id="degreefield"
              name="degreefield" />
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Institution</label>
            <input type="text" disabled value="{{empdegree.Institution}}" class="form-control" id="institution"
              name="institution" />
          </div>


        </div>

        <div class="col-sm-5">

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Year Degree Earned</label>
            <input type="text" disabled value="{{empdegree.YearDegreeEarned}}" class="form-control"
              id="yeardegreeearned" name="yeardegreeearned" />
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Degree state</label>
            <input type="text" disabled value="{{empdegree.DegState}}" class="form-control" id="degstate"
              name="degstate" />
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Country</label>
            <input type="text" disabled value="{{empdegree.disCountry}}" class="form-control" id="country"
              name="country" />
          </div>


        </div>

      </div>

      <div class="mb-3">
        <label for="inputPassword" class="form-label">Notes</label>
        <textarea type="text" disabled value="{{empdegree.Notes}}" class="form-control" style="height:120px" id="notes"
          name="notes" rows="3"></textarea>
      </div>


    </div>

    <div class="modal-footer" style="margin-top: -10px;margin-right: 0px;">
      <button type="button" id="empdegreedetailmodal" class="btn btn-outline-dark"
        style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
    </div>



  </div>
  <!-- end modal body ******************************************************************************* -->
  <!-- ******************************************************************************* -->


</div>

<!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
<!-- <button hidden id="btnEmpDegreeModalShow" (click)="showEmpDegreeModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
      data-target="#empdegreemodal" style="visibility: hidden;"> -->
<button hidden id="empdegreedetailmodalShow" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empdegreedetailmodal" style="visibility: hidden;">
  Launch demo modal
</button>


</div><!-- end Detail Modal -->


















  <!-- Edit Modal -->
<!-- ====================================================================================================== -->


<div class="modal fade" id="empdegreeeditmodal" tabindex="-1" role="dialog" aria-labelledby="empdegreeeditmodalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document" style="width:720px;">
  <!-- <div class="modal-content" style="padding:25px;padding-bottom: 5px;background-color: #f1f3f4;"> -->
    <div class="modal-content" style="padding:35px;padding-bottom: 20px;padding-top: 25px;background-color: #eeeeee;">

    <div class="modal-header">
      <button (click)="clearFormErrors()" type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-bottom: 0px !important;">
        <span aria-hidden="true">&times;</span>
      </button>      
      <h5 class="modal-title" id="empdegreemodalLabel" style="font-weight: bold;font-size: 26px;padding-bottom: 5px !important;">Employee Degree</h5>

    </div>
    <!-- LOADING IMAGE DIV  -->
    <!-- <div *ngIf="loading2" class="loading-container" style="width: 100%;
                                  background-color: transparent;
                                  opacity:1;
                                  position: absolute;
                                  z-index: 2;
                                  margin-left: 0%;
                                  margin-right: 0%;
                                  margin-top: 0%;
                                  margin-bottom: 0%;
                                  height: 84.5%;
                                  padding-top: 60px;">
      <img class="imgloading" style="display: block; margin-left: auto;margin-right: auto;"
        src="/assets/images/loading.gif" />
    </div> -->

    <div *ngIf="loading2" class="loading-container" style="
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:90%;
        margin-top: 80px;
        width:100%;
        z-index: 2;">
      <img class="imgloading" style=" margin-left: auto; margin-right: auto;display: block;margin-top: 165px;width:15%"
        src="/assets/images/loading.gif" />
    </div>
    <!-- END LOADING IMAGE DIV  -->

    <div class="modal-body" style="padding-top: 0px;padding-bottom: 0px;">


      <!-- All serverside validation on top and client side validation below input -->
      <div *ngIf="formErrors[0].msg" class="alert alert-danger alert-dismissible"style="background-color: #ffe4e1 !important;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <!-- {{formErrors[0].msg}} -->
        <div *ngFor="let item of formErrors">
          <li style="font-size: 90%;list-style:none;padding-bottom:5px;" class="text-danger small">{{item.msg}}</li>
        </div>
      </div>

      <!-- https://www.youtube.com/watch?v=Wr5urqswiko&list=PLQcBFrxTul9IQFF7fJz7jgdRYJz1OCbll&index=6 -->
      <form [formGroup]="empDegreeFormGroup" (ngSubmit)="saveEmpDegree()">
     
        
        <!-- <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        

        <div hidden class="mb-3">
          <label for="inputPassword" class="form-label">Id</label>
            <input type="text" class="form-control" formControlName="id" id="id" name="id" />
        </div>
        <div hidden class="mb-3">
          <label for="inputPassword" class="form-label">Emp Id</label>
            <input type="text" class="form-control" formControlName="empid" id="empid" name="empid" />
        </div>


        <div class="row">

        
          <div class="col-sm-7">
        
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Degree<span style="color:red;font-size: 14px;">*</span></label>
              <select id="degree" name="degree" formControlName="degree" class="form-control">
                <option *ngFor="let item of cmbEmpDegree" [value]="item.ListID">{{item.Str1}}</option>
              </select>
              <span style="font-size: 100%;" class="text-danger small"
                *ngIf="degree && degree?.invalid && degree?.touched">Degree field is required</span>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Degree Field</label>
              <input type="text" class="form-control " formControlName="degreefield" id="degreefield" name="degreefield" />
            </div>
          
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Institution</label>
              <input type="text" class="form-control " formControlName="institution" id="institution" name="institution" />
            </div>         



          </div>


          <div class="col-sm-5">
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Year of degree</label>
              <input type="text" class="form-control " formControlName="yeardegreeearned" id="yeardegreeearned"
                name="yeardegreeearned" />
            </div>
        
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Deg state</label>
              <select id="degstate" name="degstate" formControlName="degstate" class="form-control">
                <option *ngFor="let item of cmbState" [value]="item.ListID">{{item.Str1}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Country</label>
              <select id="country" name="country" formControlName="country" class="form-control">
                <option *ngFor="let item of cmbCountry" [value]="item.ListID">{{item.Str1}}</option>
              </select>
            </div>
        

          </div>


        </div>
       
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Notes</label>
            <textarea type="text" class="form-control" formControlName="notes" id="notes"
              name="notes" rows="3" style="height: 120px;"></textarea>
              <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
        </div>


        <div class="modal-footer" style="padding-top: 25px;padding-right: 0px;">
          <button [disabled]="empDegreeFormGroup.invalid" type="submit" class="btn btn-primary">Save changes</button>
          <button (click)="clearFormErrors()" type="button" id="btnEmpDegreeEditCloseModal" class="btn btn-outline-dark"
            style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Cancel</button>
          <!-- <button (click)="test1(1)" type="button" id="btnEditCloseModal" class="btn btn-outline-dark" >test</button> -->
        </div>
      </form>
    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" style="border: 1px solid #b0b0b0;width:100px" data-dismiss="modal">Close</button>
      <button type="submit"  class="btn btn-primary">Save changes</button>
      </div> -->

    </div>

</div>



<!--2023 needed to open modal with jquery but put inside the modal to keep hidden else taking space in view -->
<!-- <button hidden id="btnEmpDegreeModalShow" (click)="showEmpDegreeModal(empid)" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empdegreemodal" style="visibility: hidden;"> -->
  <button hidden id="btnEmpDegreeModalShow"  type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#empdegreeeditmodal" style="visibility: hidden;">
  Launch demo modal
</button>

</div>
  
  
  
  
  
  
  
  
  
  <!-- Datatable -->
  <!-- =================================================================================================== -->
    <!-- <button style="float: left;margin-top: 4px;">Add</button> -->
    <!-- <a (click)="showEmpDegreeAddModal()" type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#empdegreeeditmodal" 
    style="color:#006fae; border-color: #959595;margin-top:-63px;margin-left:1152px;margin-right:0px;width:80px;"> <span aria-hidden="true"
      class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
    Add</a> -->

    <!-- removed data-toggle="modal" data-target="#empdegreeeditmodal" to prevent auto open modal after check role fail  -->
    <a (click)="showEmpDegreeAddModal()" type="button" class="btn btn-outline-dark btn-sm" 
    style="color:#006fae; border-color: #959595;margin-top:-63px;margin-left:1152px;margin-right:0px;width:80px;"> <span aria-hidden="true"
      class="glyphicon glyphicon-plus" style="color:#006fae;margin-right: 3px;"></span>
    Add</a>

  <table  id="dt" datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-striped"
    style="border:1px solid #bbbbbb; width: 100%; margin-top: -14px !important; ">
  
    <thead class="" style="border:1px solid red">
      <tr class="bg-primary">
        <!-- <th scope="col">id</th> -->
        <th hidden scope="col">empid</th>
        <th scope="col">str1</th>
        <th scope="col">DegreeField</th>
        <th scope="col">Year of degree</th>
        <th scope="col">Institution</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>

        <th scope="col" style="text-align: center;width:70px !important;">Action</th>
      </tr>
    </thead>
    <tbody style="border:10px solid #c4c4c4 !important">
      <tr *ngFor="let item of empDegreeData">
        <!-- <td>{{item.id}}</td> -->
        <td hidden>{{item.EmpID}}</td>
        <td>{{item.disDegree}}</td>
        <td>{{item.DegreeField}}</td>
        <td>{{item.YearDegreeEarned}}</td>
        <td>{{item.Institution}}</td>
        <td>{{item.disState}}</td>
        <td>{{item.disCountry}}</td>
        
        <!-- <td style="text-align: center; padding-left: 65px !important;padding-right: 65px !important;">
          <a routerLink="/Empdetail/{{item.empid}}">Detail</a> | -->
      
          <td style="text-align: center; width:90px !important;">
          <!-- <a (click)="showEmpDegreeEditModal(item)" id="test" data-toggle="modal" data-target="#empdegreemodal" class=""
            style="cursor: pointer;">Edit</a> | -->
            <a (click)="showEmpDegreeDetailModal(item.ID)" id="test" data-toggle="modal" data-target="#empdegreedetailmodal" class=""
            style="cursor: pointer;color:rgb(9, 85, 166)">Detail</a> |
            <!-- <a (click)="showEmpDegreeEditModal(item.ID)" id="test" data-toggle="modal" data-target="#empdegreeeditmodal" class=""
            style="cursor: pointer;color:rgb(9, 85, 166)">Edit</a> | -->
            
            <!-- removed data-toggle="modal" data-target="#empdegreeeditmodal" to prevent auto open modal after check role fail  -->
            <a (click)="showEmpDegreeEditModal(item.ID)" id="test"  
            style="cursor: pointer;color:rgb(9, 85, 166)">Edit</a> |
            <a (click)="deleteEmpDegree(item.ID)" id="test" class="" style="cursor: pointer;color:rgb(9, 85, 166)">Delete</a>

          <!-- <a routerLink="">View</a> |
          <a routerLink="">Edit</a> |
          <a routerLink="">Delete</a> -->

        </td>
      </tr>
    </tbody>
  </table>